
@font-face {
  font-family: 'FjallaOne-Regular';
  src: url('FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),  url('FjallaOne-Regular.woff') format('woff'), url('FjallaOne-Regular.ttf')  format('truetype'), url('FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
