<div class="bgrLoad ng-hide">
    <div class="bgrLoadMessage">
        <div class="row ">
            <div class="input-group" style="max-width:300px; margin:0 auto 10px auto; background-color:#ffffff">
                <select ng-options="t.name for t in SizeObjX" ng-change="changeWidgetSize(KPIID,SizeXVal,SizeYVal)" ng-model="SizeXVal" class="form-control input-sm nopad" fix-crappy-ie-select></select>
                <span class="input-group-addon"> by </span>
                <select ng-options="t.name for t in SizeObjY" ng-change="changeWidgetSize(KPIID,SizeXVal,SizeYVal)" ng-model="SizeYVal" class="form-control input-sm nopad"></select>
				<span class="input-group-btn">
				<button class="form-control {{ATClr}} theme-box" type="button"  ng-click="applyWidgetSize(KPIID,SizeXVal,SizeYVal)" style="padding: 2px 10px;border:0px"><i class="fa  fa-check"></i></button></span>
				</div>
        </div>
    </div>
</div>
