﻿<div class="modal-header">
    <h3 class="modal-title">Add Assessment</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="modal-body modalChart" style="min-height:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div style="padding-right: 10px;" class="form-group">
                <label style="padding-left:0px;" class="col-sm-6">Enter Assessment Name</label>
                <input style="width:50% !important" class="form-control col-sm-6" type="text" ng-model="AsgFileName">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn {{ATClr}} btn-core theme-box boxShadow" ng-click="ok()" ng-disabled="SaveTickFlag">Add</div>
    <div class="btn stdBtn {{ATClr}} btn-bordered theme-text" ng-click="cancel()"><b>Cancel</b></div>
</div>
