﻿<div class="container-fluid">
    <div gridster="gridsterOpts">
        <ul class="{{KPITClr}}">
            <li gridster-item="item" ng-repeat="item in AdminGridItems" class="boxShadow predefinedActions cursor">
                <div class='frontPanel kpi-panel'>
                    <div class="kpi-heading">
                        <div class='kpi-title full'>{{item.Header}}</div>
                        <div class="KPIDvder {{ATClr}} theme-box"></div>
                    </div>
                    <div class="kpi-content" set-height ng-if="!isCircle">
                        <div class="text-center dis-table">
                            <div class="dis-table-cell GeneravVal">
                                <a ng-click="navToMasterColMap(item.id)">
                                    <span class="{{ATClr}} theme-text"><i class="fa fa fa-ticket"></i></span>
                                    <span class="fa hmI {{ATClr}}   {{item.Icon}} fa-inverse iconstck"></span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
