<div class="modal-header">
    <h3 class="modal-title">{{InfoDet.REQUEST_ID}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">        
		<i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div  class="HeaderContentDivider {{ATClr}} theme-box"></div>
<div class="modal-body">
   <table class="table table-bordered table-stripped">
	<tbody>
		<tr><td>  Request ID </td> <td>  {{InfoDet.REQUEST_ID}} </td></tr>
		<tr><td>  Description </td> <td>  {{InfoDet.DESCRIPTION}} </td></tr>
        <tr><td>  Creation Date</td> <td>  {{InfoDet.CREATED_TIMESTAMP}} </td></tr>
		<tr><td>  Priority </td> <td>  {{InfoDet.REQUEST_PRIORITY}} </td></tr>	
		<tr><td>  Tags</td> <td>  {{InfoDet.TAG_NAME}} </td></tr>		
	
	</tbody>
   </table>
   <div class="ng-hide">
   AREA_ID
   AREA_NAME
ASG_ID
ASSIGNED_GROUP
ASSIGNED_SERVICE_DESK
ASSIGNEE
ASSIGNEE_GROUP_COMPETENCE
ASSIGN_REVISED_COUNT
CAB_NAME
CAB_STATUS
CALC_CREATED_MONTH
CALC_CREATED_MONTH_MAPPING
CALC_CREATED_WEEK_NUMBER
CALC_RESOLUTION_MONTH
CALC_RESOLUTION_MONTH_MAPPING
CALC_RESOLUTION_WEEK_NUMBER
CALC_RESPONSE_MONTH
CALC_RESPONSE_MONTH_MAPPING
CALC_RESPONSE_WEEK_NUMBER
CI
CLOSED_TIMESTAMP
COUNTRY
CREATED_BY
CREATED_TIMESTAMP
CURRENT_STATUS_TIME_IN_MINS
DESCRIPTION
DUEDATE_TIMESTAMP
IS_Exceeding_Resolve
IS_Exceeding_Response
LAST_ACTIONED_TIMESTAMP
LAST_MODIFIED_TIMESTAMP
LOCATION
MINUTES_OPEN
PENDING_IT_MINS
PENDING_REQUESTER_MINS
PRIORITY_REVISED_COUNT
REGION
REOPEN_COUNT
REQUESTER_CATEGORY
REQUESTER_COMPANY_ID
REQUESTER_COMPANY_NAME
REQUESTER_FULL_NAME
REQUEST_ID
REQUEST_IMPACT
REQUEST_PRIORITY
REQUEST_STATUS
REQUEST_TYPE
REQUEST_TYPE_CATEGORY
REQUEST_URGENCY
RESOLUTION_TIMESTAMP
RESOLUTION_TIME_IN_MINS
RESOLVED_1ST_LINE
RESPONSE_TIMESTAMP
RESPONSE_TIME_IN_MINS
ROOT_CATEGORY_TIER_1
ROOT_CATEGORY_TIER_2
ROOT_CATEGORY_TIER_3
ROOT_CAUSE
ReOpened_Date
SERVICE_CATEGORY_TIER_1
SERVICE_CATEGORY_TIER_2
SERVICE_CATEGORY_TIER_3
SOURCE
STATUS_STATE
SUMMARY
SUPPORT_TIER
Solution
TAG_NAME
TOTAL_ESTIMATED_TIME
TOTAL_USED_TIME
</div>
</div>