<div assesment-menu></div> 
<div ng-if="UserInfo.userID =='dbError' || dbError == true" class="page-center page-center-fixed">
    <div class="page-center-content">
        <h2> Unable to Connect With the Database</h2>
        <h4><i class='fa fa-info' aria-hidden='true'></i>  Please try again later ! or try <a href="#/login" class=" {{ATClr}} theme-text"> LOGIN </a> again</h4>

    </div>

</div>
<div ng-if="UserInfo.userID =='null'" class="page-center page-center-fixed">
    <div class="page-center-content">
        <h2> Unable to get User Information</h2>
        <h3><i class='fa fa-warning' aria-hidden='true'></i>  Please Login to see your dashboard</h3>
        <br><a href="#/login" class="btn btn-warning"><i class="fa fa-envelope-o" aria-hidden="true"></i> Login</a>
    </div>

</div>
<div class="jumbotron" ng-if="UserInfo.userID !='null' && UserInfo.userID !='dbError' && dbError != true">
    <div class="">
        <div class="jumbotron-content">
            <div class="jumbotron-title">
                <div class="col-sm-12">
                    <div class=" userinfo">

                        <h2 class="title-h2"> {{DashboardCollectionName}}</h2>
                        <h4 class="collab-text" ng-show="UserInfo.country"></h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="home-search">
                        
						 <div ng-hide="NoAssesment">
                                <label>{{translation.NO_ASG}}</label>
                            </div>
                        <div class="btn-group btn-group-justified" role="group">
                         <a ng-disabled="YesAssesment || IsDashElem"  class="btn  btn-link {{ATClr}} theme-text" ng-click="openDashboardSettings('lg',0,'')" >
                            <i class="ti-plus"></i> Add dashboard
                        </a>
						
							
						<a ng-disabled="YesAssesment || IsDashElem" class="btn   btn-link {{ATClr}} theme-text" ng-click="RemAssessment()">
                            <i class="ti-trash"></i> delete assessment
                        </a>
                           


                        </div>
						

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div ng-hide="YesAssesment" class="row">
                        
                   <!--     <div class="col-sm-9" on-item-click="GetAsgDetails()" angular-multi-select input-model="AsgObj" output-model="AsgObjOp" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="name" selection-mode="single">
                        </div>-->
                    </div>
                    <div ng-hide="NoAssesment" class="row">
                        <label>{{translation.NO_ASG}}</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="clearfix"></div>
            </div>
            <div class="container-fluid">
                <div ng-intro-options="IntroOption" ng-intro-method="WalkThroughCall" ng-intro-oncomplete="CompletedEvent" ng-intro-autostart="ShouldAutoStarts" class="row">

                    <div class="col-md-12 no-padding-xs">

                        <div id="IntroDash" class="pgBdy">
                            <div >
                                <ul class="home-db-list">
                                 <!--   <li  ng-repeat="item in DashboardCollectionS"  class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
									
									
									
										<div class="feed-box boxShadow predefinedActions cursor">
                                    <div class="feed-box-label">
                                        <div class="feed-box-type">
                                            <span class="feed-box-header"> 
												<span class="feed-box-depth feed-box-header">
													
													 
												</span>
											</span>
                                        </div>

                                    </div>
                                    <a href="#/proc/{{AssessmentId}}" class="text-center">
                                        <span class="fa fa-4x {{ATClr}} theme-text fa fa-ticket "></span>
                                                            <span class="fa fa-4x {{ATClr}}   theme-text {{item.DashboardIcon}} iconstck"></span>
                                        <div class="feed-box-title"> {{translation.ADD_DASH}}</div>

                                    </a>

                                    <div class="feed-box-header feed-box-subtitle">
                                       
                                    </div>
                                </div>
								
								
                                        
                                    </li>
                                    <li ng-repeat="item in DashboardCollectionR"  class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                                        
										
										<div class="feed-box boxShadow predefinedActions cursor">
                                    <div class="feed-box-label">
                                        <div class="feed-box-type">
                                            <span class="feed-box-header"> 
												<span class="feed-box-depth feed-box-header">
													
													 
												</span>
											</span>
                                        </div>

                                    </div>
                                    <a href="#/proc/{{AssessmentId}}" class="text-center">
                                        <span class="fa fa-4x {{ATClr}} theme-text fa fa-ticket "></span>
                                                            <span class="fa fa-4x {{ATClr}}   theme-text {{item.DashboardIcon}} iconstck"></span>
                                        <div class="feed-box-title"> {{translation.HOM_PRE_PROC}}</div>

                                    </a>

                                    <div class="feed-box-header feed-box-subtitle">
                                        
                                    </div>
                                </div>
										
										
                                    </li> -->
                                    <li  ng-repeat="item in DashboardCollection"  class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
									
									
									<div class="feed-box boxShadow predefinedActions cursor">
                                    <div class="feed-box-label">
                                        <div class="feed-box-type">
                                            <span class="feed-box-header"> 
												<span class="feed-box-depth feed-box-header">
													
													 <a class=' cursor  {{ATClr}} theme-text clkIcn' ng-click="deleteDashboard('lg',1,item.Dashboard.Id)"><i class='clkIcn ti-close iconMD' title="Delete Dashboard"></i></a>
												</span>
											</span>
                                        </div>

                                    </div>
                                    <a href="#/{{AssessmentId}}/dashboard/{{item.Dashboard.Id}}" class="text-center">
                                        <span class="fa fa-4x {{ATClr}} theme-text {{item.DashboardIcon}}"></span>
                                        <div class="feed-box-title">{{item.Dashboard.DashboardName}}</div>

                                    </a>

                                    <div class="feed-box-header feed-box-subtitle">
                                        <a class='big cursor  {{ATClr}} theme-text clkIcn' ng-click="openDashboardSettings('lg',1,item.Dashboard.Id)" title="{{translation.HOM_OPN_SETT}}"><i class='ti-settings' ></i> {{translation.HOM_OPN_SETT}}</a>

                                    </div>
                                </div>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>