﻿<div class="container-fluid">
    <div gridster="gridsterOpts">
        <ul class="{{KPITClr}}">
            <li gridster-item="item" ng-repeat="item in ATSettingGrid" class="boxShadow predefinedActions cursor">
                <div class='frontPanel kpi-panel'>
                    <div class="kpi-heading">
                        <div class='kpi-title full'>{{item.Header}}</div>
                        <div class="KPIDvder {{ATClr}} theme-box"></div>
                    </div>
                    <div class="kpi-content" set-height>
                        <div class="text-center dis-table">
                            <div class="dis-table-cell GeneravVal">
                                <a href="#/{{item.name}}/{{AssessmentId}}">
                                    <span class="fa hmI {{ATClr}} {{item.Icon}} fa-inverse iconstck"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
