<div assesment-menu></div> 
<div ng-intro-options="IntroOptions" ng-intro-method="WalkThroughCall" ng-intro-oncomplete="CompletedEvent" ng-intro-autostart="ShouldAutoStar">

    <div class="widgetContainer" style="position:relative">
		<!-- DASHBOARD ACCESS DENIED -->
        <div ng-if="AuthUser.IsValidUser==2" class="page-center page-center-fixed">
            <div class="page-center-content">
                <h2> {{dashBoardID}} </h2>
                <h3><i class='fa fa-warning' aria-hidden='true'></i> <span ng-bind-html="translation.DASH_ERR_ACC_DENIED"> </span></h3>
                <br><a href="mailto:{{AuthUser.CreatorEmail}}" class="btn btn-warning"><i class="fa fa-envelope-o" aria-hidden="true"></i>  {{translation.DASH_ERR_ACC_DENIED_LINK}}  {{AuthUser.CreatorName}}</a>
            </div>
        </div>
		<!-- DASHBOARD INVALID  -->
        <div ng-if="AuthUser.IsValidUser==0" class="page-center page-center-fixed">
            <div class="page-center-content">
                <h2> {{dashBoardID}} </h2>
                <h3><i class='fa fa-warning' aria-hidden='true'></i> <span ng-bind-html="translation.DASH_ERR_NOT_AVAIL"> </span></h3>
                <br><a href="#/" class="btn btn-warning"> {{translation.DASH_ERR_NOT_AVAIL_LINK}}</a>
            </div>
        </div>
        <!-- DASHBOARD AUTHENDICATED  -->
        <div ng-if="AuthUser.IsValidUser==1" class="container-fluid">
            <!-- DASHBOARD INFORMATION  -->
            <div class="jumbotron">
                <div class="jumbotron-content">
                    <div class="jumbotron-title">
                        <div class="col-sm-12">
                            <div class=" userinfo" ng-show="Dashboard.DashboardName">
                                <h2 class="title-h2">  <span class="fa {{DashboardIcon}}  {{ATClr}} theme-text"></span>  {{Dashboard.DashboardName}}</h2>
                                <p>
                                    <uspl>{{strtdt | date:Dateformat}} to {{enddt | date:Dateformat}}</uspl>

                                </p>

                                <h4 class="collab-text" ng-repeat="val in ChosenFilter.Keys">
								  <i class="fa fa-filter  {{ATClr}} theme-text" style="margin-right:5px;"></i>{{val.Name}}<small ng-click="openDashboardSettings('lg',1,dashBoardID,1)"><uspl>({{ChosenFilter.values[val.Val].join(",")}})</uspl></small>
							</h4>
                            </div>
                            <div class="clearfix"></div>

                            <div class="home-search">

                                <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">

                                    <a ng-click="cloneDashboard('md',dashBoardID , Dashboard.DashboardName)" class="btn btn-link {{ATClr}} theme-text" role="button"> <span class="ti-files"></span> CLONE</a>
                                    <a ng-click="openDashboardSettings('lg',1,dashBoardID,1)" class="btn btn-link {{ATClr}} theme-text" role="button"> <span class="ti-settings"></span> SETTINGS</a>
                                    <a ng-click="deleteDashboard('lg',1,dashBoardID)" class="btn btn-link {{ATClr}} theme-text" role="button"> <span class="ti-trash"></span> DELETE</a>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
			<!-- DASHBOARD INFORMATION  -->

            <!-- DASHBOARD CONTENTS  -->
            <div id="IntroKPI" class="row pgBdy {{reOrderCls}}">



                <!-- DASHBOARD SCORECARD ITEMS  -->
                <div class="col-sm-12  scoreCardList" ng-if="KPICollections.IsScoreCard == 'True'">
                    <div class="carousel-demo" ng-if="KPICollections.ScoreCard.length == 0">
                        <div class="text-center">
                            <p class="small  alert-warning alert-center trans" style="height: auto; text-align: center"> No ScoreCards Available.</p>
                            <p><a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="openWidgetModal('lg',0,'','ScoreCard','', '', '')"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Widget</a></p>
                        </div>
                    </div>
                    <!-- DASHBOARD SCORECARD ITEMS  -->
                    <div class="container-fluid" ng-if="KPICollections.ScoreCard.length > 0">
                        <ul class="home-db-list">
                            <li ng-repeat="ScoreCardItem in KPICollections.ScoreCard" class=" ScoreCardItem col-xs-12 col-sm-6 col-md-4 col-lg-3 ">


                                <div class="feed-box boxShadow predefinedActions cursor">

                                    <div data-kpiid="{{ScoreCardItem.Id}}" data-kpigroup="ScoreCard" class="looper">
                                        <div data-kpiid="{{ScoreCardItem.Id}}" data-kpigroup="ScoreCard" class="looper">
                                            <div data-kpiid="{{ScoreCardItem.Id}}" data-kpigroup="ScoreCard" class="looper">
                                                <div ng-switch="{{ScoreCardItem.idNum}}" ng-trim="true" class="kpiGridsterFirstChild" class="looper">
                                                    <div my-template ng-switch-when="7" class="kpiChildDiv" type="7" data-kpiid="{{ScoreCardItem.Id}}" data-kpigroup="ScoreCard">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>



                            </li>
                            <li class="ScoreCardItem   col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
							
							<div class="feed-box boxShadow predefinedActions cursor">

                                    <div class="feed-box-label">
                                        

                                    </div>
                                    <a href="#/{{AssessmentId}}/dashboard/{{item.Dashboard.Id}}" class="text-center">
                                        <span class="fa fa-4x {{ATClr}} theme-text {{item.DashboardIcon}}"></span>
                                        <div class="feed-box-title">{{item.Dashboard.DashboardName}}</div>

                                    </a>

                                    <div class="feed-box-header feed-box-subtitle">
                                        <a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="openWidgetModal('lg',0,'','ScoreCard','', '')"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Scorecard</a>

                                    </div>


                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- DASHBOARD CARSOUEL BEGINS  -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 carsouelList" ng-if="KPICollections.IsCursol == 'True'">
                            <div class="clearfix"></div>
                            <div class="carousel-demo" ng-if="KPICollections.Cursol.length == 0">
                                <div class="text-center">
                                    <p class="small  alert-warning alert-center trans" style="height: auto; text-align: center">No widgets Available.</p>
                                    <p><a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="openWidgetModal('lg',0,'','Cursol','', '', '')"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Widget</a></p>
                                </div>
                            </div>
                            <div class="carousel-demo" ng-if="KPICollections.Cursol.length > 0">
                                <div class="rn-carousel-indicator-parent {{ATClr}} theme-box  theme-text">
                                    <div class="one" rn-carousel-indicators slides="KPICollections.Cursol" rn-carousel-index="carouselIndex" ng-if="KPICollections.Cursol.length > 0"></div>
                                    <div class="two" ng-if="KPICollections.Cursol.length < 5"> <a class="btn btn-default {{ATClr}} theme-box  theme-text hidden-xs" style="margin-top: 0;    line-height: 0;    padding-top: 8px;     font-size: 90%;" ng-click="openWidgetModal('lg',0,'','Cursol','', '', '')"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Widget</a> </div>
                                </div>
                                <!-- DASHBOARD CARSOUEL ITEMS  -->
                                <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-locked="carouselLock" rn-carousel-auto-slide="10" rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                                    <li ng-repeat="CursolItem in KPICollections.Cursol" style="position:relative; min-height:420px;" ng-class="'id-' +CursolItem.Id " carso-slide-change="$index" ng-mouseleave="changeSlideInDelay( $index , KPICollections.Cursol.length)">
                                        <div>
                                            <div data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                <div data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                    <div data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                        <div ng-switch="{{CursolItem.idNum}}" ng-trim="true" class="kpiGridsterFirstChild" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                            <div my-template ng-switch-when="1" class="kpiChildDiv" type="1" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="2" class="kpiChildDiv" type="2" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="3" class="kpiChildDiv" type="3" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="4" class="kpiChildDiv" type="4" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="5" class="kpiChildDiv" type="5" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="6" class="kpiChildDiv" type="6" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="7" class="kpiChildDiv" type="7" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="8" class="kpiChildDiv" type="8" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="9" class="kpiChildDiv" type="9" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="10" class="kpiChildDiv" type="10" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="11" class="kpiChildDiv" type="11" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="12" class="kpiChildDiv" type="12" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="13" class="kpiChildDiv" type="13" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="14" class="kpiChildDiv" type="14" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                            <div my-template ng-switch-when="15" class="kpiChildDiv" type="15" data-kpiid="{{CursolItem.Id}}" data-kpigroup="Cursol">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DASHBOARD GROUPS ITEMS  -->
                <div ng-if="KPICollections.groups.length > 0">
                    <div class="col-sm-12 col-md-12 groupsList" ng-repeat="groupItem in KPICollections.groups track by $index">
                        <h1 class="group-title "> <i class="ti-bar-chart" aria-hidden="true"></i> {{groupItem.GroupName}} 
							<span class="small hidden-xs" > 
								 <a class="{{ATClr}} theme-box  theme-text"   ng-click="deleteDashboard('lg',2,dashBoardID,groupItem.GroupKey)"><i class="fa fa-trash fa-" aria-hidden="true"></i></a>
							</span>
						</h1>
						<!-- DASHBOARD GROUPS SWAP VIEW  -->
                        <div class="input-group group-setting swatchGrp  visible-xs" ng-if="groupItem.KPI.length > 0">
                            <span class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <div class="input-group-btn ">
                                <a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="changeGroupView($index, 0)">Slide </a>
                            </div>
                            <div class="input-group-btn ">
                                <a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="changeGroupView($index, 1)"> List</a>
                            </div>
                        </div>
						<!-- DASHBOARD GROUPS SWAP COUNT  -->
                        <div class="input-group group-setting swatchGrp  hidden-xs" ng-if="groupItem.KPI.length > 0">
                            <span class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                            <div class="input-group-btn" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle {{ATClr}} theme-box  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    <span ng-if="groupItem.GroupType == 0">Slide </span><span ng-if="groupItem.GroupType == 1"> List </span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a ng-click="changeGroupView($index, 0)"> Slide</a></li>
                                    <li><a ng-click="changeGroupView($index, 1)"> List</a></li>
                                </ul>
                            </div>
                            <select class="form-control ng-hide " ng-model="groupItem.GroupType">
                                <option value="0" ng-selected="groupItem.GroupType == 0"> Slide</option>
                                <option value="1" ng-selected="groupItem.GroupType == 1"> List</option>
                            </select>

                            <!-- DASHBOARD GROUPS CHANGE FILTER  -->
                            <span class="input-group-addon" ng-if="groupItem.IsFilter == 'True'"> <i class="fa fa-filter" aria-hidden="true"></i>   {{groupItem.GroupFilterLabel}} &amp; by  </span>
                            <div class="input-group-btn " ng-if="groupItem.IsFilter == 'True'">
									<button class="btn btn-default chosenFilterContainer {{ATClr}} theme-box  theme-text" ng-click="chooseSubFilterModalDash($index, 'md',groupItem.GroupFilter,groupItem.GroupFilterValue)"   > <span class="groupSelection" > {{groupItem.GroupFilterValue}} </span> <span class="caret"></span></button>
							</div>
							<!-- DASHBOARD GROUPS CHANGE FILTER  -->
							<div class="input-group-btn ">
                                <a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="openWidgetModal('lg',0,'','Group', groupItem.GroupID, groupItem.GroupKey)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Widget</a>
                            </div>
                        </div>
						<!-- DASHBOARD GROUPS NO KPI  -->
                        <div ng-if="groupItem.KPI.length == 0" class="text-center">                            
                            <p class="hidden-xs"><a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="openWidgetModal('lg',0,'','Group', groupItem.GroupID , groupItem.GroupKey)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Widget</a></p>
							<p class="small  alert-warning alert-center trans" style="height: auto; text-align: center">
                                <span>No widgets Available in this Group.</span>
                            </p>
                        </div>
                       <!-- DASHBOARD GROUPS KPI LIST FOR NON MOBILE DEVICE -->
                        <div class="container-fluid" ng-if="groupItem.KPI.length > 0">
                            <div class="groupKPIList" ng-if="groupItem.GroupType == 0">
                                <slick class="slider" settings="slickConfigGroups[$index]" init-onload="true" data="groupItem.KPI" class="r{{$index}}">
                                    <div ng-repeat="groupKPIItem in groupItem.KPI" class="slick-slide slide group-slide">
                                        <div class="slickClassSlide " slick-min-width="groupItem.GroupView"> </div>
                                        <div class="group-slide-container">
                                            <div data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                <div data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                    <div data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" style="position: absolute;height: 100%;display: block;width: 100%;">
                                                        <div ng-switch="{{groupKPIItem.idNum}}" ng-trim="true" class="kpiGridsterFirstChild" style="position: absolute;height: 100%;display: block;width: 95%; margin:0 auto">
                                                            <div my-template ng-switch-when="1" class="kpiChildDiv" type="1" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="2" class="kpiChildDiv" type="2" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="3" class="kpiChildDiv" type="3" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="4" class="kpiChildDiv" type="4" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="5" class="kpiChildDiv" type="5" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="6" class="kpiChildDiv" type="6" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="7" class="kpiChildDiv" type="7" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="8" class="kpiChildDiv" type="8" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="9" class="kpiChildDiv" type="9" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="10" class="kpiChildDiv" type="10" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="11" class="kpiChildDiv" type="11" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="12" class="kpiChildDiv" type="12" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="13" class="kpiChildDiv" type="13" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="14" class="kpiChildDiv" type="14" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                            <div my-template ng-switch-when="15" class="kpiChildDiv" type="15" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>
							<!-- DASHBOARD GROUPS KPI LIST FOR  MOBILE DEVICE -->
                            <div class="groupKPIList row col" ng-if="groupItem.GroupType == 1 || isMobile == true">
                                <div ng-repeat="groupKPIItem in groupItem.KPI" class=" groupListKPIItem col-sm-12 col-md-6 col-lg-6">
                                    <div class="group-slide-container" style=" min-height:500px; display:block; position:relative">
                                        <div data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey"  data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey"  style="position: absolute;height: 100%;display: block;width: 100%;">
                                            <div data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey"  style="position: absolute;height: 100%;display: block;width: 100%;">
                                                <div data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey"  style="position: absolute;height: 100%;display: block;width: 100%;">
                                                    <div ng-switch="{{groupKPIItem.idNum}}" ng-trim="true" class="kpiGridsterFirstChild" style="position: absolute;height: 100%;display: block;width: 95%; margin:0 auto">

                                                        <div my-template ng-switch-when="1" class="kpiChildDiv" type="1" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="2" class="kpiChildDiv" type="2" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="3" class="kpiChildDiv" type="3" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="4" class="kpiChildDiv" type="4" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="5" class="kpiChildDiv" type="5" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="6" class="kpiChildDiv" type="6" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="7" class="kpiChildDiv" type="7" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="8" class="kpiChildDiv" type="8" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="9" class="kpiChildDiv" type="9" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="10" class="kpiChildDiv" type="10" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="11" class="kpiChildDiv" type="11" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="12" class="kpiChildDiv" type="12" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="Group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="13" class="kpiChildDiv" type="13" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="14" class="kpiChildDiv" type="14" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                        <div my-template ng-switch-when="15" class="kpiChildDiv" type="15" data-kpiid="{{groupKPIItem.Id}}" data-kpigroup="group" data-kpigropid="groupItem.GroupID" data-kpigropname="groupItem.GroupName" data-kpigroupkey="groupItem.GroupKey" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
				<!-- DASHBOARD GROUPS ADD NEW -->
                <div class="container-fluid text-center hidden-xs">
                    <a class="btn btn-default {{ATClr}} theme-box  theme-text" ng-click="openDashboardSettings('lg',1,dashBoardID,2)"> <i class="fa fa-cogs" aria-hidden="true"></i> Add Section</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- DASHBOARD BG HIDE -->
<div class="bgLoading" ng-show="isReorderData" ng-click="hideBg()"></div>