<div class="modal-header {{TIClr}}">
    <h3 class="modal-title {{ATClr}} theme-text"> {{translation.DASMDL_ICO_SEARCH}}</h3>
    <div class="angularClose iconMD" data-dismiss="modal" ng-click="cancelModal()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="HeaderContentDivider {{ATClr}} theme-box"></div>
<div class="modal-body {{TClrs}}">
    <!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="../Content/bootstrap.min.css" rel="stylesheet" />
        <link href="../Content/css/font-awesome.min.css" rel="stylesheet" />
        <link href="../Content/CustomCSS/Metro.css" rel="stylesheet" />
        <style>
            div.iconResult {
                text-align: center;
            }

                div.iconResult + .no-items {
                    display: none;
                }

            i.iconResultSet {
                margin: 15px auto;
                cursor: pointer;
                font-size: 30px;
            }

            div.pseudoH:hover div.iconResult i.iconResultSet {
                opacity: 0.6;
            }


            div.pseudoH div.iconResult:hover i.iconResultSet {
                opacity: 1.0;
                font-size: 50px;
                margin: 5px auto;
            }

            span.splIcon.theme-text {
                border: 1px solid #ccc !important;
                border-right-width: 0 !important;
            }

            .srchBox {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.4285;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-left: 0;
            }

            .pseudoH {
                height: 400px;
                overflow: scroll;
            }
        </style>
    </head>
    <body>
        <section id="filter">
            <div class="container-fluid">
                {{chosenIconName}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon splIcon {{ATClr}} theme-text"><i class="fa fa-search"></i></span>
                            <input type="text" ng-model="srchIcon" class="srchBox form-control" placeholder=" {{translation.DASMDL_ICO_KEY}}">
                        </div>
                    </div>
                    <div class="pseudoH col-xs-12">
                        <div class="iconResult" ng-repeat="x in iconList |  filter:srchIcon | orderBy:'Tag'">
                            <i class="col-xs-3 col-sm-2 col-md-1 fa fa-{{ x.Icon }} iconResultSet {{ATClr}} theme-text" ng-click="chosenIconfunc(x.Icon)"></i>
                        </div>
                        <h5 class="col-xs-12 no-items"> {{translation.DASMDL_ICO_ERR_MSG}} </h5>
                    </div>
                </div>
                <div class="row" ng-show="">
                </div>
            </div>
        </section>
    </body>
</html>
</div>
