<div>
    <div class="modal-header {{TIClr}}">
        <h3 class="modal-title"> Clone Dashboard of  {{dashName}}</h3>
        <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
              <i class="ti-close {{ATClr}} theme-text" aria-hidden="true"></i>
        </div>
    </div>
    <div class="HeaderContentDivider {{ATClr}} theme-box"></div>
    <div class="modal-body {{TClrs}}">

        <div class="container-fluid">
            <div class="setRow">
                <fieldset>
                    <legend class="{{ATClr}} theme-text lgndT">{{translation.DASH_NAME_LABEL}}</legend>
					<div class="clearfix"></div>
                    <div class="row" style="display:flex;align-items:center">
                        <div class="col-sm-3 col-md-2" ng-click="chooseIconModal('lg')">
                            <i class="fa {{chosenIconText}} {{ATClr}} theme-text chooseIconFont dashbIcon" id="IntroDI"></i>
                            <i class="fa fa-pencil fa-2x" style="left: 70px; top: 40px; color: rgb(130, 130, 130); font-size: 20pt; position: absolute;text-shadow:0 2px 0 rgba(127, 127, 127, 0.30), 0 -1px 0 rgba(127, 127, 127, 0.70);"></i>
                        </div>
                        <div class="col-sm-9 col-md-10" id="IntroDN">
                            <input class="form-control input-sm" type="text" ng-model="dashBoardName" placeholder="Dashboard Name" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="ng-hide">
                    <legend class="{{ATClr}} theme-text lgndT">{{translation.PRIV_SETT}}</legend>
                    <div class="row" style="align-items:center">
                        <div ng-disabled='IsCreator==0' class="col-sm-4">
                            <label class="col-sm-12" style="padding-left:0px">
                                <input type="radio" value="IsPrivate" ng-model="PrivacySetting" name="rating" class="radio col-sm-1" ng-change="ChangePrivacySetting(PrivacySetting,'IsPrivate')"> {{translation.PRIV_SETT_PRIV}}
                            </label>
                        </div>
                        <div ng-disabled='IsCreator==0' class="col-sm-4">
                            <label class="col-sm-12">
                                <input type="radio" value="IsPublic" ng-model="PrivacySetting" name="rating" class="radio col-sm-1" ng-change="ChangePrivacySetting(PrivacySetting,'IsPublic')"> {{translation.PRIV_SETT_PUBL}}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-12">
                                <input type="radio" value="IsShared" ng-model="PrivacySetting" name="rating" class="radio col-sm-1" ng-change="ChangePrivacySetting(PrivacySetting,'IsShared')"> {{translation.PRIV_SETT_SHAR}}
                            </label>
                        </div>
                    </div>
                    <div class="row" style="align-items:center;padding:15px;margin-left:0px">
                        <div class="col-sm-12" ng-show="IsInPrivate">
                            <label>{{translation.PRIV_SETT_PRIV_LABE}}</label>
                        </div>
                        <div class="col-sm-12" ng-show="IsInPublic">
                            <label> {{translation.PRIV_SETT_PUBL_LABE}} </label>
                        </div>
                        <div class="col-sm-12" ng-show="IsInShared">
                            <label> {{translation.PRIV_SETT_SHAR_LABE}}</label>
                            <tags-input ng-model="SharedUser" display-property="name" template="tag-template" placeholder="Add User to Share the Dashboard With">
                                <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                            </tags-input>
                        </div>
                        <script type="text/ng-template" id="tag-template">
                            <div class="tag-template">
                                <div class="right-panel">
                                    <span>{{$getDisplayText()}}</span>
                                    <a class="remove-button" style="color:white" ng-click="$removeTag()">&#10006;</a>
                                </div>
                            </div>
                        </script>
                    </div>
                </fieldset>



            </div>
        </div>



    </div>




</div>

<div class="modal-footer {{TIClr}}">
    <div class="btn {{ATClr}} btn-core theme-box boxShadow" ng-click="clonedash()">{{translation.BTN_OK}}</div>
    <div class="btn stdBtn {{ATClr}} btn-bordered theme-text" ng-click="cancel()"><b>{{translation.BTN_CANCEL}}</b></div>
</div>
