﻿<div ng-hide="isDwnldProc" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header">
    <h3 class="modal-title">Pre - Process Text</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="modal-body modalChart" style="min-height:100px;">
    <div style="border-bottom: 1px solid silver;text-align: center;" class="row">
        <div class="col-sm-12">
            <label style="font-size: 16px;">Do you want to </label>
        </div>
    </div>
    <div style="margin: 15px;">
        <label class="col-sm-12"><input type="checkbox" ng-model="chckProc"> Process</label>
        <label class="col-sm-12"><input type="checkbox" ng-model="chckDwnl"> Download tickets to use in Azure ML</label>
    </div>
</div>
<div class="modal-footer">
    <div class="btn stdBtn {{ATClr}}  btn-core  theme-box boxShadow" ng-click="ok()"><b>{{translation.BTN_OK}}</b></div>
    <div class="btn stdBtn {{ATClr}} btn-bordered theme-text" ng-click="cancel()"><b>{{translation.BTN_NO}}</b></div>
</div>
