<div ng-if="UserInfo.userID =='onstart' || dbError == true" class="page-center page-center-fixed">
   <div page-loader-spin></div>
</div>
<div ng-if="UserInfo.userID =='dbError' || dbError == true" class="page-center page-center-fixed">
    <div class="page-center-content">
        <h2> Unable to Connect With the Database</h2>
        <h4><i class='fa fa-info' aria-hidden='true'></i>  Please try again later ! or try <a href="#/login" class="{{ATClr}} theme-text"> LOGIN </a> again</h4>
    </div>
</div>
<div ng-if="(UserInfo.userID =='null' || UserInfo == '')" style="height: 100vh; width:100%;display:block; position:relative;">   
        <div page-loader-spin style="height: 100vh; width:100%; display:block; position:relative;" ></div>   
</div>
<div class="jumbotron" ng-if="(UserInfo.userID !='null' && UserInfo !='') && UserInfo.userID !='dbError' && dbError != true">
    <div class="">
        <div class="jumbotron-content">
            <div class="jumbotron-title">
                <div class="col-sm-12">
                    <div class="userinfo">
                        <h2 class="title-h2"> MOSAIC DISCOVERY</h2>
                        <p> Welcome's you {{UserInfo.userName}} </p>
                        <h4 class="collab-text" ng-show="UserInfo.country"><i class="fa fa-map-marker {{ATClr}} theme-text"></i>&nbsp;&nbsp;&nbsp;{{UserInfo.location}}<span>,{{UserInfo.country}}</span></h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="home-search">
                        <div class="searchbox">
                            <div ng-hide="YesAssesment">
                                <form>
                                    <div class="input-group">
                                        <input type="text" ng-model="AsgObjOpName" uib-typeahead="state.name for state in AsgObj | limitTo:10" class="form-control home-text" typeahead-min-length="1" typeahead-on-select="onSearchAssSelect($item)" typeahead-no-results="noresults">
                                        <span class="input-group-addon cursor"> </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-link" ng-click="GetAsgDetails()" type="submit "><i class="ti-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!-- /input-group -->
                            <div ng-hide="NoAssesment">
                                <label>{{translation.NO_ASG}}</label>
                            </div>
                        </div>
                        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
                            <a class="btn btn-link {{ATClr}} theme-text" role="button" ng-click="AddAssessment()">
                                <span class="ti-dashboard"></span> {{translation.ADD_ASSESSMENT}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>