<div class="modal-header {{TIClr}}">
    <h3 class="modal-title"> Login</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="HeaderContentDivider {{ATClr}} theme-box"></div>
<form>
    <div class="modal-body {{TClrs}}">
        <div class="box">
            <div class="content">

                <div class="error"></div>
                <div class="form loginBox">

                    <input id="email" class="form-control" type="text" placeholder="User Name" ng-model="loginUserName" ng-required>
                    <input id="password" class="form-control" type="password" placeholder="Password" ng-model="loginUserPass" ng-required>


                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer {{TIClr}}">
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-default {{ATClr}}  btn-core  theme-box" ng-click="LoginFn()"><b>Login</b></button>
            <button type="button" class="btn btn-default {{ATClr}}  btn-bordered theme-box " ng-click="cancel()"><b>{{translation.BTN_CANCEL}}</b></button>
        </div>

    </div>
</form>
