<div class="container-fluid ">
    <div class="row">

        <div class="container-fluid request-drill-header">
            <div class="row ">
                <div class="col-sm-3 "></div>
                <div class="col-sm-6">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"> {{translation.RDD_REQ_ID}} #   :</span>
                        <input id="Search_Value" type="text" value="" class="form-control" ng-model="searchval" uib-typeahead="suggesstion for suggesstion in getsuggesstion($viewValue)" typeahead-min-length="1" typeahead-loading="LoadingData" typeahead-on-select="onSelect($item)" typeahead-no-results=" noresults" required />
                        <span class="input-group-addon"><i class="fa fa-search "></i></span>

                    </div>
                    <div>
                        <i ng-show="LoadingData"></i>
                        <div ng-show="noResults" style="color: red; padding-left: 0;" ng-bind-html="translation.RDD_REQ_NO_RES"></div>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs" id="IntroViewMode">
                    <div class="modeDisplay pull-right">
                        <div class="btn-group  btn-sharp">
                            <button type="button" class="btn {{ATClr}} theme-box {{opacityValCom}}" ng-click="ChangeViewMode(12)" uib-tooltip="Change to Desktop Mode" tooltip-class="customClass" tooltip-placement="bottom"><i class="fa fa-2x fa-laptop"></i></button>
                            <button type="button" class="btn  {{ATClr}} theme-box {{opacityValue}}" ng-click="ChangeViewMode(8)" uib-tooltip="Change to Tablet Mode" tooltip-class="customClass" tooltip-placement="bottom"><i class="fa  fa-2x  fa-tablet"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix text-center" style="padding:20px">
            <div ng-show="LoadingData" page-loader-spin-only></div>
        </div>
        <div class="container-fluid">
            <div ng-if="isSearchVal" id="IntroDash" class="pgBdy" style="padding:0 15px">
                <div class="row" style="margin-top:15px;margin-bottom:15px;">
                    <div class="col-sm-12">
                        <div class="boxShadow {{KPITClr}}">
                            <div class="kpi-panel kpi-relative">
                                <div class="kpi-heading">
                                    <div class='col-xs-10 kpi-title'> {{translation.RDD_REQ_INFO_TITLE}}</div>
                                    <div class="KPIDvder {{ATClr}} theme-box"></div>

                                </div>
                                <div class="kpi-content">
                                    <div class="row" style="padding-top:5px">
                                        <div class="col-md-4 col-lg-3">
                                            <span style="display:inline-block;" class="infoLabel">&nbsp;{{translation.RDD_REQ_TYPE}}</span>
                                            <span style="display:inline-block;" class="infoLabelDash">:</span>
                                            <span style="display:inline-block;" class="infoData infoType">{{ReqType}}</span>
                                        </div>
                                        <div class="col-md-4 col-lg-3">
                                            <span style="display:inline-block;" class="infoLabel">&nbsp;{{translation.RDD_REQ_CUR_PRIOR}}</span>
                                            <span style="display:inline-block;" class="infoLabelDash">:</span>
                                            <span style="display:inline-block;" class="infoData infoPriority">{{Request_Priority}}</span>
                                        </div>
                                        <div class="col-md-4 col-lg-3">
                                            <span style="display:inline-block;" class="infoLabel">&nbsp;{{translation.RDD_REQ_CUR_STAT}}</span>
                                            <span style="display:inline-block;" class="infoLabelDash">:</span>
                                            <span style="display:inline-block;" class="infoData infoStatus">{{Request_Status}}</span>
                                        </div>
                                        <div class="col-md-12 col-lg-11">
                                            <span style="display:inline-block;" class="infoLabel">&nbsp;{{translation.RDD_REQ_SUMM}}</span>
                                            <span style="display:inline-block;" class="infoLabelDash">:</span>
                                            <span style="display:inline-block;" class="infoData infoSummary">{{Summary}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowDark" style="margin-top:15px;margin-bottom:15px;">
                    <div class="col-sm-12" style="height:auto">
                        <div class="boxShadow {{KPITClr}} kpi-panel kpi-relative">

                            <div class="kpi-heading">
                                <div class='col-xs-10 kpi-title'>{{translation.RDD_REQ_TIML}} </div>
                                <div class="KPIDvder {{ATClr}} theme-box"></div>
                            </div>

                            <div class="kpi-content" style="width:100%; margin-top:5px;text-align:center">
                                <div class="pull-left theme-text {{ATClr}} theme-box">
                                    <span style="margin-right: 5px; font-size: 10pt;">&nbsp;{{translation.RDD_EVE_SHOW}}:</span>
                                    <span ng-click="spantimelineShowAll()" class="cursor">
									<i ng-class="className" class="fa {{timelineShowAll}} myRadio" data-check="No" style="margin-right:8px;font-size:12pt;"></i>
									<i class="fa fa-exclamation" style="margin-right: 2px; font-size: 10pt;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_EVE_SHOW_ALL}}</span>
                                    </span>
                                    <span ng-click="spantimelineShowMajor()" class="cursor">
									<i class="fa {{timelineShowMajor}} myRadio" data-check="Yes" style="margin-right:8px;font-size:12pt;"></i>
									<i class="fa fa-bolt" style="margin-right: 2px; font-size: 10pt;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_EVE_SHOW_MAJ}}</span>
                                    </span>
                                    <span ng-click="spantimelineShowMinor()" class="cursor">
									<i class="fa {{timelineShowMinor}} myRadio" data-check="No" style="margin-right:8px;font-size:12pt;"></i>
									<i class="fa fa-exclamation" style="margin-right: 2px; font-size: 10pt;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_EVE_SHOW_MIN}}</span>
                                    </span>
                                </div>
                                <div class="pull-right theme-text {{ATClr}} theme-box">
                                    <span style="margin-right: 12px; font-size: 10pt;">{{translation.RDD_HIGHLIGHT}} :</span>
                                    <span ng-click="spantimelineHighlightGroups()" class="{{spantimelineHighlightGroup}}">
									<i class="fa {{timelineHighlightGroup}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_GRP_CHANG}}</span>
                                    </span>
                                    <span ng-click="spantimelineHighlightPrioritys()" class="{{spantimelineHighlightPriority}}">
									<i class="fa {{timelineHighlightPriority}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_PRIR_CHANG}} </span>
                                    </span>
                                    <span ng-click="spantimelineHighlightStatuss()" class="{{spantimelineHighlightStatus}}">
									<i class="fa {{timelineHighlightStatus}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_STAT_CHANG}}</span>
                                    </span>
                                    <span ng-click="spantimelineHighlightUsers()" class="{{spantimelineHighlightUser}}">
									<i class="fa {{timelineHighlightUser}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_ASSIN_CHANG}} </span>
                                    </span>
                                    <span ng-click="spantimelineHighlightEventss()" class="{{spantimelineHighlightEvents}}">
									<i class="fa {{timelineHighlightEvents}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_MAILS}}</span>
                                    </span>
                                    <span ng-click="spantimelineHighlightLogs()" class="{{spantimelineHighlightLog}}">
									<i class="fa {{timelineHighlightLog}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_LOGS}}</span>
                                    </span>
                                    <span ng-click="spantimelineHighlightTimes()" class="{{spantimelineHighlightTime}}">
									<i class="fa {{timelineHighlightTime}} myCheck" data-check="No" style="display: inline-block; font-size: 12pt; height: 20px; line-height: 20px;"></i>
									<span style="margin-right: 15px; font-size: 10pt;">{{translation.RDD_TIM_REGS}}</span>
                                    </span>
                                </div>
                            </div>
                            <div id="mytimeline" class="mytimeline"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-left:0;">
                    <div class="boxalignmnt chartDiv  ">
                        <div class="col-xs-12 col-sm-6 col-md-4 ccontentc">
                            <div class="boxShadow  kpi-panel kpi-relative chat-content {{KPITClr}}">
                                <div class="kpi-heading">
                                    <div class='col-xs-12 kpi-title'> {{translation.RDD_TIM_SPENT_TEAM}} {{selectedStatusVal}}</div>
                                    <div class="KPIDvder {{ATClr}} theme-box"></div>
                                </div>
                                <div class="kpi-content" widget-set-height="95">
                                    <div class="rightAlign inlineElemRFull">
                                        <div ng-click="TeamReset()" class="theme-text teamReset {{isTeamReset}} {{isTeamResetATClr}}">
                                            <i class="fa fa-refresh" style="margin-right: 2px; font-size: 10pt;"></i>
                                            <span style="font-size: 10pt;">{{translation.BTN_RESET}} </span>
                                        </div>
                                    </div>
                                    <div class='RequestInfoBarTeam c3Chart '></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ccontentc">
                            <div class="boxShadow  chat-content {{KPITClr}} kpi-panel kpi-relative">
                                <div class="kpi-heading">
                                    <div class='col-xs-12 kpi-title'>{{translation.RDD_TIM_SPENT_STAT}} {{selectedTeamVal}}</div>
                                    <div class="KPIDvder {{ATClr}} theme-box"></div>
                                </div>
                                <div class="kpi-content" widget-set-height="95">
                                    <div class="rightAlign inlineElemRFull">
                                        <div ng-click="StatusReset()" class="theme-text teamReset {{isStatusReset}} {{isStatusResetATClr}}">
                                            <i class="fa fa-refresh" style="margin-right: 2px; font-size: 10pt;"></i>
                                            <span style="font-size: 10pt;">{{translation.BTN_RESET}}</span>
                                        </div>
                                    </div>
                                    <div class='RequestInfoBarStatus c3Chart '></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ccontentc">
                            <div class="boxShadow chat-content  kpi-panel kpi-relative  {{KPITClr}}">
                                <div class="kpi-heading ">
                                    <div class='col-xs-12 kpi-title'>{{translation.RDD_OTA}}</div>
                                    <div class="KPIDvder {{ATClr}} theme-box"></div>
                                </div>
                                <div class="kpi-content" widget-set-height="95">
                                    <div class="rightAlign inlineElemRFull">
                                        <div class="theme-text teamReset DisableColor {{ATClr}} theme-box">
                                            <span style="font-size: 10pt;">&nbsp;</span>
                                        </div>
                                    </div>
                                    <div set-max-height-gen>
                                        <div class='RequestInfoOpenTime c3Chart '></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 ccontentc">
                            <div class="boxShadow chat-content kpi-panel kpi-relative   {{KPITClr}}">
                                <div class="kpi-heading">
                                    <div class='col-xs-12 kpi-title'>{{translation.RDD_REG_TIM_PRES}} </div>
                                    <div class="KPIDvder {{ATClr}} theme-box"></div>

                                </div>
                                <div class="kpi-content" widget-set-height="95">
                                    <div class="rightAlign inlineElemRFull">
                                        <div ng-click="StatusReset()" class="theme-text teamReset DisableColor {{ATClr}} theme-box">
                                            <span style="font-size: 10pt;">&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class='RequestInfoTimeReg c3Chart '></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>