﻿<div ng-hide="isUploadDataLoad" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header">
    <h3 class="modal-title">{{translation.UPLMDL_TITLE}} {{HeaderName}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="modal-body modalChart" style="min-height:100px;">
    <div ng-show="IsAgsUpload" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-6">Enter Assesment Name</label>
                <input style="width:50% !important" class="form-control col-sm-6" type="text" ng-model="AsgFileName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label ng-show="IsAgsUpload" class="col-sm-6">Assesment CSV</label>
                <div>
                    <input class="col-sm-6" id="chooseFile" type="file" accept="multipart/form-data">
                </div>
            </div>
        </div>
    </div>
    <div ng-show="IsAgsUpload" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-6">Assesment TimeBook CSV</label>
                <div>
                    <input class="col-sm-6" id="chooseTimeBook" type="file" accept="multipart/form-data">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div style="float:left" class="btn btn-dialog" ng-click="DownloadFormat()">Download sample xlsx format</div>
    <div class="btn {{ATClr}}  btn-core theme-box boxShadow" ng-click="ok()">{{translation.BTN_YES}}</div>
    <div class="btn stdBtn {{ATClr}}  btn-bordered theme-text" ng-click="cancel()"><b>{{translation.BTN_NO}}</b></div>
</div>
