﻿<div ng-controller="UploadDataController">
    <div class="container ">
        <div page-loader-spin-all ng-hide="isUploadData"></div>
        
		<div class="form-group card xs">     
			<h3 class="title-h3 ">  GENERAL </h3>
                <div class="row">
				<div class="col-md-2 ">
				Name </div>
				<div class="col-md-4">
				 <input class="form-control col-sm-6 borderbtmcolor" type="text" ng-model="AsgFileName">
				</div>
				
          
        </div>  <div class="row">
					<div class="col-md-2 ">

                    <ul class="dash-men-list check-menu-list " role="tablist">
                        <li  class="active" ng-disabled='IsCreator==0'>
                          
                                <label class="{{ATClr}} theme-text">
                                    <input type="radio" value="0" ng-model="PrivacySetting" name="rating" class="radio" ng-change="ChangePrivacySetting(PrivacySetting,'0')"> {{translation.PRIV_SETT_PRIV}}
                                </label>
                            
                        </li>
                        <li   ng-disabled='IsCreator==0'>
                           
                                <label class="{{ATClr}} theme-text">
                                    <input type="radio" value="2" ng-model="PrivacySetting" name="rating" class="radio " ng-change="ChangePrivacySetting(PrivacySetting,'2')">  IN PERSON
                                </label>
                           
                        </li>
                        <li >
                            <label class="{{ATClr}} theme-text">
                                    <input type="radio" value="1" ng-model="PrivacySetting" name="rating" class="radio" ng-change="ChangePrivacySetting(PrivacySetting,'1')"> PUBLIC
                                </label>
                        </li>
                        
                    </ul>

                </div> 
				<div class="col-md-10 "> 
<div class="row">
                   
                    <div class="col-sm-12 ng-hide">
                        <label> Provide Access with shared</label><br>
                        <label>
                            <input type="radio" ng-model="ProvideAccessSettings" value="true">
                            Yes
                        </label>
                        <label>
                            <input type="radio" ng-model="ProvideAccessSettings" value="no">
                            No
                        </label>
                    </div>
                
				<div class="col-sm-12 ">
            

            <div class="row" style="align-items:center;padding:15px;margin-left:0px">
                <div class="col-sm-12" ng-show="IsInPrivate">
				<div class="alert alert-warning" role="alert">{{translation.PRIV_SETT_PRIV_LABEL}}</div>
                    
                </div>
                <div class="col-sm-12" ng-show="IsInPublic">
				<div class="alert alert-warning" role="alert">{{translation.PRIV_SETT_PUBL_LABEL}}</div>
                    
                </div>
                <div class="col-sm-12" ng-show="IsInShared">
                    <label> {{translation.PRIV_SETT_SHAR_LABEL}}</label>
                    <tags-input ng-model="SharedUser" display-property="name" template="tag-template" placeholder="Add User to Share the Assessment With">
                        <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                    </tags-input>
                </div>
                <script type="text/ng-template" id="tag-template">
                    <div class="tag-template">
                        <div class="right-panel">
                            <span>{{$getDisplayText()}}</span>
                            <a class="remove-button" style="color:white" ng-click="$removeTag()">&#10006;</a>
                        </div>
                    </div>
                </script>
            </div>

        </div>
		</div>

				</div> 
				 <div class="col-sm-12 text-right" >
                      
                         <button ng-click="Save()" type="button" class="btn {{ATClr}}  btn-core theme-box " uib-tooltip="Save" tooltip-class="customClass" tooltip-placement="bottom">
                                    <i class="ti-save" > </i> Save
                                </button>

                    </div>
				
				</div>
				
				  

            </div>
		
		
		
		
        

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title-h4 ">Upload Ticket Master</h3>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="col-sm-6 text-center">
                                <a ng-click="DownloadFormat(1)" class="text-center" style="display:block">
                                    <i class="fa  fa-2x fa-download"></i>
                                    <br />
                                    
									<p class="collab-text">
                                    Download  <br>Sample Master  </p>
                                </a>
                            </div>
                            <div class="col-sm-6" style="border-left: 1px solid rgba(138, 138, 138, 0.29);">                               
                                  
							  
							  <a class="text-center" ng-click="uploadDumpclick()" ng-disabled="IsReqMaster">
									<i class="fa  fa-2x fa-upload" ></i>
                                    <br />
									<b class="collab-text">
                                    UPLOAD  <br>Sample Master </b>  </a>
									<div style="height:1px ; padding:1px ; overflow:hidden">
                                    <input style="margin-top:2px " ng-disabled="IsEftMaster" class="" id="chooseFile" type="file" accept="multipart/form-data">
									</div>
                            </div>
                            <div class="clearfix"></div>

                        </div><br>
  <div class=" text-center">
                       
                            <a  class="btn {{ATClr}}  btn-core theme-box" role="button" ng-click="UploadToValidate()"> 1. Validate </a>
                            <a  class="btn {{ATClr}}  btn-bordered theme-text" role="button" ng-click="UploadMasterData()">2. Upload</a>
                        
                    </div>
                    </div>
                  
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title title-h4 ">Upload Ticket Effort</h3>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="col-sm-6 text-center">
                                <a ng-click="DownloadFormat(0)" class="text-center" style="display:block">
                                    <i class="fa  fa-2x fa-download"></i>
                                    <br />
									<p class="collab-text">
                                    Download  <br>Sample Effects  </p>
                                </a>
                            </div>
                            <div class="col-sm-6" style="border-left: 1px solid rgba(138, 138, 138, 0.29);">
							
							   
 
                               
                                    
									<a class="text-center" ng-click="uploadEffortclick()" ng-disabled="IsEftMaster">
									<i class="fa  fa-2x fa-upload" ></i>
                                    <br />
									<b class="collab-text">
                                    UPLOAD  <br>Sample Effects </b>  </a>
									<div style="height:1px ; padding:1px ; overflow:hidden">
                                    <input style="margin-top:2px " ng-disabled="IsEftMaster" class="" id="chooseTimeBook" type="file" accept="multipart/form-data"  >
									</div>
                               
                            </div>
                            <div class="clearfix"></div>

                        </div><br>
 <div class="text-center">
                        
                            <a  class="btn {{ATClr}} btn-core theme-box" role="button" ng-click="UploadToValidate()"> 1. Validate </a>
                            <a  class="btn {{ATClr}}  btn-bordered theme-text" role="button" ng-click="UploadMasterData()">2. Upload</a>
                       
                    </div>
                    </div>
                   
                </div>
            </div>
            <div style="float:right;margin-top:10px" class="col-sm-12">
            

               
            </div>          
            
           
        </div>

            </div>

            </div>
      
    
