﻿<div ng-show="isTckDrill" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header">
    <h3 class="modal-title">Ticket Marked as {{Tcktype}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="modal-body modalChart" style="min-height:100px;">
    <div class="row">        
        <div ng-show="IsDrillAvail" class="col-lg-12" style="margin: 10px 0;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-10 col col-sm-offset-1" style="margin-bottom: 20px;">
                    <div class="card" style="height: 300px;background-color:rgba(255, 255, 255, 0.2);">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-body" style="padding: 0;height:250px;">
                                <div id="Drill_Cloud" style="width: 100%; height: 250px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="margin-right:10px">
                <label style="float:right;">Total rows : <span class="{{ATClr}} theme-box" style="color:white;padding: 5px 10px 5px 10px;border-radius: 15px;"> {{DrillRows}}</span></label>
            </div>
            <div id="DrillDownTbl" style="width: 100%; background-color: inherit;" class="hot handsontable"></div>
        </div>
        <div ng-show="IsDrillNotAvail" class="col-lg-12" style="margin: 10px 0;">
            <label style="height:345px;" class="col-sm-12">Sorry! No stop words are available.Kindly upload </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<button style="margin-right: 10px !important;" type="button" class="btn {{ATClr}} theme-box {{opacityValCom}}" ng-click="ResendCluster()" uib-tooltip="{{translation.btn_Dwnld}}" tooltip-class="customClass" tooltip-placement="bottom"><i class="fa fa-2x fa-download"></i>Resend</button>-->
    <!--<div class="btn stdBtn {{ATClr}} theme-text" ng-click="ok()"><b>{{translation.BTN_OK}}</b></div>
    <div class="btn stdBtn {{ATClr}} theme-text" ng-click="cancel()"><b>{{translation.BTN_NO}}</b></div>-->
</div>
