<nav>
    <ul class="nav nav-justified">
        <li ng-class="{'active': isDMVActive == 1} "><a ng-href="#/settings"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="hidden-sm hidden-xs"> Dashboard </span></a></li>
        <li ng-class="{'active': isDMVActive == 1} "><a ng-href="#/appSettings"><i class="fa fa-columns" aria-hidden="true"></i><span class="hidden-sm hidden-xs"> App Settings </span></a></li>
        <li ng-class="{'active': isDMVActive == 1} "><a ng-href="#/MasterColumnSettings"><i class="fa fa-columns" aria-hidden="true"></i><span class="hidden-sm hidden-xs"> Master Column  Settings </span></a></li>
        <li ng-class="{'active': isDMVActive == 1} "><a ng-href="#/widgetColumnSettings"><i class="fa fa-sliders" aria-hidden="true"></i><span class="hidden-sm hidden-xs"> Widget Column Settings </span></a></li>
        <li ng-class="{'active': isDMVActive == 1} "><a ng-href="#/userSettings"> <i class="fa  fa-users" aria-hidden="true"></i><span class="hidden-sm hidden-xs">  Users </span></a>
        </li>
    </ul>
</nav>