<!--AgingReportKPI-->
<div id='{{kpiType}}' class='kpiType2 kpiCmnCls aging-panel' ng-controller="AgingReportController" ng-app="graphApp">
    <div ng-hide="IsZoom">
        <div ng-hide="isAgingReportLoadCmplt" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	
    </div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div ng-show="isReorderData" page-reorder></div>
    <div class="kpiContainer {{isAgingReportLoadCmplt? " " : " blurclass "}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-if="IsZoom==false">

                <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
                <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>


            </div>
            <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
                <div class='swContainr  clearfix'>
                    <div class='InVsComp swatchGrp col-md-12'>
                        <div class="input-group" ng-class="{sm:prioritySwatch.length>0}">

                  
                            <div class="input-group-btn" uib-dropdown ng-show="prioritySwatch.length>0">
                                <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    {{priorityData}} <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu ng-show="prioritySwatch.length>0">
                                    <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="SwatchChangeAgeReport(swatch.value)" sibs>{{swatch.name| titleCase}}</a></li>

                                </ul>
                            </div>

                            <div class="input-group-btn action-grp" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                    <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                    <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->

                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                <div class="kpi-content" STYLE="PADDING-TOP:0; POSITION:RELATIVE;" ng-class="{'modalZoom' : IsZoom}">
                    <div style=" HEIGHT:100%; width:100%">
                        <div class='{{KPIID}}AgingChart AgingChart c3Chart'></div>
                    </div>
                </div>
                <div ng-if="IsZoom==true || IsRedrawZoom==true">

                    <table class="zoomTableData ">

                        <thead>
                            <tr ng-repeat="rowItem in AgingChartData track by $index" ng-if="$index == '0'">
                                <th ng-repeat="colItem in rowItem track by $index" ng-if="$index == '0'"> </th>
                                <th ng-repeat="colItem in rowItem track by $index" ng-if="$index > '0'"> {{colItem}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowItem in AgingChartData track by $index" ng-if="$index > '0'">
                                <td ng-repeat="colItem in rowItem "> {{colItem}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>
    </div>
</div>