<!--AngularGridKPI-->
<style>
    .mh300 {
        min-height: 300px;
    }
    
    .mh300 div#myGrid {
        min-height: 300px !important;
    }
    
    .ContainerPivotChart svg text tspan {
        display: none;
    }
    
    .ContainerPivotChart svg text tspan:first-child {
        display: block !important;
    }
</style>
<div id='{{KPIID}}' class='kpiCmnCls' ng-controller="ParetoTableController">
    <div ng-hide="isLoadCmpltd" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData"></div>
    <div class="kpiContainer  {{isLoadCmpltd? " " : "BlurClass "}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-if="IsZoom==false ">

                <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
                <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>



            </div>
            <div ng-show="isAngularGrid" class="kpi-content" ng-class="{'mh300' : IsZoom, 'modalZoom' : IsZoom}">
                <div class='swContainr  swatchGrp clearfix'>
                    <div class="input-group " style="max-width:150px">

                        <!-- /btn-group -->
                        <div class="input-group-btn  action-grp" uib-dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                            </ul>
                        </div>
                        <!-- /btn-group -->

                    </div>
                    <!-- /input-group -->
                </div>
                <div id="myGrid_{{KPIID}}" class="ag-fresh" style="height: 320px;margin:0 auto;width:98%;"></div>
            </div>
            <div ng-show="isPivotChart" class="kpi-content ContainerPivotChart" ng-class="{'modalZoom' : IsZoom}">
                <div style="height:inherit; width:100%">
                    <div class='swContainr  swatchGrp clearfix'>

                        <div class="input-group">
                          
                            <div class="input-group-btn" uib-dropdown ng-show="prioritySwatch.length>0">
                                <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                     {{selectPriorityName | titleCase}} <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li ng-repeat="swatch in prioritySwatch track by  $index"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="changePriority($index)" sibs>{{swatch.name| titleCase}}</a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <!-- /btn-group -->
                            <div class="input-group-btn  action-grp" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                    <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                    <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->

                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class='InVsComp swatchGrp col-md-12'></div>
                    <div class='{{KPIID}}PivotChart PivotChart c3Chart'></div>
                    <div id="chart"></div>
                </div>
                <div ng-if="IsZoom==true || IsRedrawZoom==true" class="zoomTableParent">

                    <table class="zoomTableData ">

                        <thead>
                            <tr ng-repeat="rowItem in PivotChatDispFinTable track by $index " ng-if="$index == '0'">
                                <th ng-repeat="colItem in rowItem.value "> {{colItem.value}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowItem in PivotChatDispFinTable  track by $index " ng-if="$index != '0'">

                                <td ng-repeat="colItem in rowItem.value "> {{colItem.value}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>