<!--General KPI-->
<style>
    .genkpi .c3-chart-arc text {
        display: none;
    }
    
    .c3-chart-arcs-title {
        font-size: 15px !important;
        font-weight: normal;
    }
    
    .genkpi .c3-legend-item {
        font-size: 12px;
        display: none;
    }
</style>
<div id='{{kpiType}}' class='kpiType2 kpiCmnCls genkpi' ng-controller="ScoreboardController" ng-app="graphApp">
    <div ng-hide="IsZoom">
        <div ng-hide="isGeneralLoad" page-loader-spin ng-class="{ngHide:IsShowError== true }"></div>

        <div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
        <div ng-show="IsConnectionError" class="widgetError" kpi-connection-error></div>
    </div>
    <div ng-show="isReorderData" page-loader-blank>

    </div>
    <div class="kpiContainer {{isGeneralLoad? " " : " blurclass "}}" ng-class="{blurclass: isGeneralLoad == true}">

        <div class="feed-box-label">
            <div class="feed-box-type">

                <span class="feed-box-header" ng-show="kpiname"> 
				<span uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname"> {{kpiname}} </span>
				<span class="feed-box-depth feed-box-header">
					<a ng-click="openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='{{ATClr}} theme-text clkIcn ti-settings'></i>  </a>
					<a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='{{ATClr}} theme-text clkIcn ti-close'></i>   </a>
				
				</span>
				
				
				<span class=""></span></span>
            </div>

        </div>
       
        <div class='frontPanel kpi-panel'>
          
            <div class="kpi-content" ng-if="!isCircle" ng-class="{'modalZoom' : IsZoom}">

                <div class="text-center dis-table" style="min-height:195px;">
                    <div class="dis-table-cell ">
                        <uspl class=" GeneravVal" style="width: 100%;" ng-click="KPIModalFun()">
                            <span class="{{ATClr}} theme-text"><i class="fa {{IconValue}}"></i></span>
                            <span class="feed-box-title RED">{{GenericValue}}</span>
                        </uspl>
                    </div>

                </div>
                <div class="col-sm-8 Generalclass">
                </div>
            </div>
            <div class="kpi-content" style="padding-top:30px;min-height:140px !important" ng-if="isCircle" ng-class="{'modalZoom' : IsZoom}">

                <div style="position:relative; height:170px;  padding-top:10px; overflow:hidden">
                    <div class="text-center dis-table">
                        <div class="dis-table-cell ">
                            <div class="RequestInfoOpenTime RequestInfoOpenTime_{{KPIID}}" style="width:100%; max-height:150px; margin: 0 auto; "></div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    
	<!--<div class="getUpdate" ng-show="IS_PeriodicCheck == 'Y'"> 
		<div class="getUpdate" ng-show="ShowTimer">
		<span class="getUpdateLabel"><i class="fa fa-refresh" aria-hidden="true"></i> <span ng-if="countdown <= 9">0</span>{{countdown}} seconds </span>	  &nbsp;
	   <a  class="label label-danger ng-hide"  ng-click="startSCTimer()">start</a>
	   <a class="label label-danger ng-hide"  ng-click="stopSCTimer()">stop</a>      </div>
	  </div>-->
  </div>
</div>