<!--Resp Res ln Exceed Percent KPI-->
<div id='{{kpiType}}' class='kpiType2 kpiCmnCls' ng-controller="RespReslnExceedPercentCtrl" ng-app="graphApp">
    <div ng-hide="IsZoom">
        <div page-loader-spin ng-hide="isLoadCmpltd" ng-class="{ngHide:IsShowError== true}"></div>	
    </div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData"></div>
    <div class="kpi-panel {{isLoadCmpltd? '' : ' blurclass'}}">
        <div class="kpi-heading" ng-hide="IsZoom">
            <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
            <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>
        </div>
        <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
            <div ng-show="toggle1" class="alert alert-warning alert-center" style="height: auto; text-align: center">
                <span>{{translation.KPI_COM_ERR_RET}}</span>
            </div>
            <div ng-show="datatoshow" style="height:inherit;position:relative">
                <div class='swContainr swatchGrp clearfix'>
                    <div class="input-group sm" ng-show="prioritySwatch.length>0">
                        <div class="input-group-btn" uib-dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                {{selectPriorityName}} <i class="fa fa-sort" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="plotChart(swatch.value)" sibs>{{swatch.name| titleCase}}</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                        <div class="input-group-btn  action-grp" uib-dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                <i class="fa fa-cogs" aria-hidden="true"></i> Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                            </ul>
                        </div>
                        <!-- /btn-group -->
                    </div>
                    <!-- /input-group -->
                </div>
                <div style="height:100%; position:relative">
                    <div class='{{KPIID}}RespReslnExceedPercent RespReslnExceedPercent c3Chart {{KPIIDZoom}}RespReslnExceedPercent'></div>
                </div>
            </div>
            <div ng-if="IsZoom==true">
                <table class="zoomTableData">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th ng-repeat="rowItem in chartData">
                                {{rowItem.PriorityMonthDate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{translation.KPI_RRPIEP_SLA_VIOL}}</td>
                            <td ng-repeat="rowItem in chartData" align="right">
                                {{rowItem.Exceeding}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{translation.KPI_RRPIEP_SLA_MET}}</td>
                            <td ng-repeat="rowItem in chartData" align="right">
                                {{rowItem.NonExceeding}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{translation.KPI_RRPIEP_SLA_ADH}} (%) </td>
                            <td ng-repeat="rowItem in chartData" align="right">
                                {{rowItem.ExceedingPerc|number : 2}}%
                            </td>
                        </tr>
                        <!--<tr>
						<td> Completion Rate(%)</td>
						<td ng-repeat="rowItem in chartData" align="right">
							{{(rowItem.Completed *100)/(rowItem.Backlog+rowItem.Incoming) |  number : 2}}%
						</td>
					</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>