<div class="container-settings" ng-controller="MasterColMapController">


    <div assesment-menu></div>
    <div class="jumbotron sm">
        <div class="jumbotron-content">
            <div class="jumbotron-title">
                <div class="col-sm-12">
                    <div class=" userinfo">
                        <h2 class="title-h2">  <span class="fa {{DashboardIcon}}  "></span> {{AssessmentName}}   </h2>
                        <p class="{{ATClr}} theme-text"> Column  Settings </p>

                      
                    </div>
                    <div class="clearfix"></div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid clear-fix" >
    <div  style=" width:100%;padding:0px 0 15px 0; margin:0; ">
        <div id="masterTable1" style=" width:100%; margin:0 auto" class="hot handsontable"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="container text-right">
        <div class="btn {{ATClr}} btn-core theme-box " ng-click="saveMasterCol()">{{translation.BTN_SAV_CHANG}}</div>
        <div class="btn {{ATClr}} btn-bordered theme-text" ng-click="reset()" style="font-weight:400;">{{translation.BTN_RESET}}</div>

    </div>
    
</div></div>