<div class="container-settings">

    <div settings-menu></div>
    <div class="container-fluid">
        <br>
        <div class="panel panel-default panel-lsp">
            <div class="panel-heading">
                <h3 class="panel-title">Application in Glance</h3>
            </div>
            <div class="panel-body">
                <div class="row tile_count">
                    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top">Total Dashboard</span>
                        <div class="count"> <i class="fa fa-tachometer" aria-hidden="true"></i> 2</div>
                        <span class="count_bottom">1 new in last week</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top"> Total Widgets</span>
                        <div class="count"><i class="fa fa-bar-chart" aria-hidden="true"></i> 50</div>
                        <span class="count_bottom">15 new in  last week</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top">Total Users</span>
                        <div class="count green"><i class="fa fa-user"></i> 30</div>
                        <span class="count_bottom"> 3 new users in last week</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top"> Total Data Push</span>
                        <div class="count"><i class="fa fa-upload" aria-hidden="true"></i> 40</div>
                        <span class="count_bottom"> updated 3 days ago </span>
                    </div>

                </div>
                <hr class="dashsep" />
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top">Data Available for period</span>
                        <div class="count-sm "> <i class="fa fa-calendar" aria-hidden="true"></i> Jan 1' 16 to Mar 5' 16</div>
                        <span class="count_bottom"> 300 records in last push</span>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top"> Total Records</span>
                        <div class="count-sm "> <i class="fa fa-font-awesome" aria-hidden="true"></i> 5425125 </div>
                        <span class="count_bottom green theme-text"> 65% good in strength</span>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 tile_stats_count">
                        <span class="count_top">Data Available for period</span>
                        <div class="count-sm "> <i class="fa fa-calendar" aria-hidden="true"></i> Jan 1' 16 to Mar 5' 16</div>
                        <span class="count_bottom"> 300 records in last push</span>
                    </div>


                </div>
            </div>
        </div>
        <div class="panel panel-default panel-lsp">
            <div class="panel-heading">
                <h3 class="panel-title">Possible Widgets</h3>
            </div>
            <div class="panel-body">
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <span class="count_top"><label for="daterange2" class="control-label">Picker with min and max date</label></span>
                        <div class="form-group" ng-class="{'has-error': dateForm.daterange2.$invalid}">

                            <input date-range-picker id="daterange2" name="daterange2" class="form-control date-picker" type="text" min="'2015-01-23'" max="'2015-08-25'" ng-model="date" required/>
                            <div class="help-block ng-hide" ng-messages="dateForm.daterange2.$error">
                                <p ng-message="min">Start date is too far in the past.</p>
                                <p ng-message="max">End date is too far in the future.</p>
                                <p ng-message="required">Range is required.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="daterange4" class="control-label">Request Priority</label>
                                        <input class="form-control " type="text" required/>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="daterange4" class="control-label">Request Type</label>
                                        <input class="form-control " type="text" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="daterange4" class="control-label">Request Status</label>
                                        <input class="form-control " type="text" required/>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="daterange4" class="control-label">Criticality</label>
                                        <input class="form-control " type="text" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default">Reset</button>
                        <button type="button" class="btn btn-success"> Verify</button>
                    </div>

                </div>
                <hr class="dashsep" />


                <div class="container-fluid">
                    <div class="row">
                        <div ng-repeat="widopt in WidgetObj" class="col-md-{{widopt.space}} ">
                            <div class="panel panel-{{widopt.avaial}} ">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> {{widopt.name}}</h3>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


