.content-region {
    z-index: 0;
    width: 100%;
    height: 100vh;
	position:fixed;
}
html {
    position: relative;
    min-height: 100%;
}




.bgrLoad {
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    width: 100%;
    display: table;
}

    .bgrLoad.Fixed {
        height: 100%;
        position: fixed;
        width: 100%;
        top: 40px;
        left: 0;
        z-index: 102;
    }

.bgrLoadMessage {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    font-size: 110%;
    vertical-align: middle;
    line-height: 34px;
    height: 34px;
}


    .bgLoadMessage .form-control,
    .bgrLoadMessage .form-control {
        font-size: 15pt !important;
    }


.spinner {
    margin: 00px auto 0;
    width: 70px;
    text-align: center;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #8E8E8E;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

#banner {
    border-bottom: none;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.page-header h1 {
    font-size: 4em;
}

.bs-docs-section {
    margin-top: 8em;
}

.bs-component {
    position: relative;
}

    .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index: 1;
        display: block;
    }

    .bs-component .modal-dialog {
        width: 90%;
    }

    .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: bold;
    padding: 5px 10px;
}

.progress {
    margin-bottom: 10px;
}



    footer li {
        float: left;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    footer p {
        clear: left;
        margin-bottom: 0;
    }

.splash {
    padding: 4em 0 0;
    background-color: #141d27;
    color: #fff;
    text-align: center;
}

    .splash h1 {
        font-size: 4em;
    }

    .splash #social {
        margin: 2em 0;
    }

    .splash .alert {
        margin: 2em 0;
    }

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #eaf1f1;
}

    .section-tout .fa {
        margin-right: .5em;
    }

    .section-tout p {
        margin-bottom: 3em;
    }

.section-preview {
    padding: 4em 0 4em;
}

    .section-preview .preview {
        margin-bottom: 4em;
        background-color: #eaf1f1;
    }

        .section-preview .preview .image {
            position: relative;
        }

            .section-preview .preview .image:before {
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                pointer-events: none;
            }

        .section-preview .preview .options {
            padding: 1em 2em 2em;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-top: none;
            text-align: center;
        }

            .section-preview .preview .options p {
                margin-bottom: 2em;
            }

    .section-preview .dropdown-menu {
        text-align: left;
    }

    .section-preview .lead {
        margin-bottom: 2em;
    }

@media (max-width: 767px) {
    .section-preview .image img {
        width: 100%;
    }
}

.sponsor {
    text-align: center;
}

    .sponsor a:hover {
        text-decoration: none;
    }

@media (max-width: 767px) {
    #banner {
        margin-bottom: 2em;
        text-align: center;
    }
}

.infobox .btn-sup {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
}

    .infobox .btn-sup img {
        opacity: 0.5;
        height: 30px;
    }

    .infobox .btn-sup span {
        padding-left: 10px;
        position: relative;
        top: 2px;
    }

.icons-material .row {
    margin-bottom: 20px;
}

.icons-material .col-xs-2 {
    text-align: center;
}

.icons-material i {
    font-size: 34pt;
}

.icon-preview {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: #D5D5D5;
    border-radius: 3px;
    cursor: pointer;
}

    .icon-preview span {
        display: none;
        position: absolute;
        background: black;
        color: #EEE;
        padding: 5px 8px;
        font-size: 15px;
        border-radius: 2px;
        z-index: 10;
    }

.top-panel {
}

.icon-preview:hover i {
    color: #4285f4;
}

.icon-preview:hover span {
    display: block;
    cursor: text;
}

.cyan.theme-box {
    background-color: #1BA0E1;
    border-color: #1BA0E1;
}

.theme-box {
    color: white !important;
}


.form-group .checkbox label,
.form-group .radio label,
 .radio label,
 .form-group label {
    color: #333;
}


.dark .form-group .checkbox label,
.dark .form-group .radio label,
.dark  .radio label,
.dark  .form-group label {
    color: #fff;
}
.form-control {
    color: #000;
    background-size: 0 2px, 100% 2px !important;
}

#masterTable .htCore > tr > td {
    background-color: rgba(0,0,0,0);
}
/*
.radio .circle, label.radio-inline .circle {
    border-color:white;
}*/

#UploadCard .card-title {
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.table > thead > tr > th {
    border-bottom: none;
}

.table > tbody > tr > td {
    border-top: none;
}

tbody > tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

    tbody > tr:nth-child(odd):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

tbody > tr:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/*
.handsontable thead th .relative {
    background-color:#443c48;
        color: white;
}
.handsontable tr:first-child th {
    border-top:none;
}
.handsontable th, .handsontable td,.handsontable th:first-child,.handsontable th:last-child,.handsontable td:first-of-type,.handsontable td:last-of-type {
    border-right:none;
    border-left:none;
}
.handsontable tr:first-child td {
    border-top:none;
}
.handsontable td {
    border-bottom:none;
}
#masterTable tbody > tr:nth-child(odd) td {
    background-color:rgba(0,0,0,0.2);
    color:white;
}
#masterTable tbody > tr:nth-child(even) td {
    background-color:rgba(0,0,0,0.1);
    color:white;
}
.handsontable table.htCore
{
    font-size:12px;
}*/

#masterTable tbody tr td {
    background-color: #efefef;
font-weight: 400;
    color: black;
}

    #masterTable tbody tr td:nth-child(8), #masterTable tbody tr td:nth-child(7) {
        background-color: #ffffff;
        border: 1px dashed #dedede;
    }
.avatarImg {
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background-color: white;
    margin-right: 10px;
}

svg#lntFooterLogo {
    float: right;
    margin-left: 10px;
}

.handsontable th {
    text-align: left;
}




.my-cs-btn {
    background-color: rgb(38, 166, 154) !important;
    color: #ffffff !important;
    border-bottom: 1px solid #0c776d !important;
    float: right;
}

.form-control, select.form-control {
    color: #000000;
}


.search-area-wrapper {
    background-color: rgba(2, 4, 6, 0.5);
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    min-height: 135px;
    text-align: center;
}

    .search-area-wrapper .search-area {
        padding: 20px 0;
    }

h4.search-header {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

table.htCore {
    font-size: 14px;
}

.checkbox label, .radio label, label {
    font-size: 14px;
}

.suc-aler {
    background-color: #e4e4e4;
    color: rgba(47, 45, 45, 0.84);
    border: 1px solid #adadad;
}

.orange-circle-button {
    background-color: inherit;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    position: relative;
}

    .orange-circle-button:hover {
        background-color: inherit;
        text-decoration: none;
    }

    .orange-circle-button:visited {
        background-color: inherit;
        text-decoration: none;
    }

.tabTblCls {
    border-radius: 50%;
    height: 5em;
    width:5em;
    background-color: inherit;
}
/*.tabTblCls:after {
	 position:absolute;
    right:-20px;
    content:" ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #007bff;
}*/
.orange-circle-link-greater-than {
    font-size: 1em;
}
/*
div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w10 { color: #d80000; }
div.jqcloud span.w9 { color: #d83400; }
div.jqcloud span.w8 { color: #d85b00; }
div.jqcloud span.w7 { color: #83d800; }
div.jqcloud span.w6 { color: #00d8a8; }
div.jqcloud span.w5 { color: #376ae2; }
div.jqcloud span.w4 { color: #744fe0; }
div.jqcloud span.w3 { color: #b878e6; }
div.jqcloud span.w2 { color: #f09af1; }
div.jqcloud span.w1 { color: #fec6ff; }*/

.chldChrttxt {
        position: relative;
    text-align: center;
    top: -30px;
    font-size: 82%;
}

.chldChrtsubText{
   font-size: 7pt;
    margin-top: -15px;
    text-align: center;
    text-transform: uppercase;
}



.kpi-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

}

    .kpi-panel.kpi-relative {
        position: relative;
        height: auto;
        vertical-align: top;
    }

.kpi-heading {
    height: 40px;
    padding: 5px 0 0 0;
    width: 100%;
    /* text-align: center; */
    position: absolute;
    z-index: 5;
}

.kpi-heading-link {
    padding-right: 5px;
}

    .kpi-heading-link a.big {
        padding: 5px 10px 5px 0;
        line-height: 30px;
    }


    .kpi-title.full {
        width: auto;
    }

.KPIDvder {
    width: 100%;
    height: 0px;
    clear: both;
}

.kpi-content {
    width: 100%;
    margin: 0;
    position: absolute;
    height: 100%;
    padding-top: 40px;
}

.kpi-panel.kpi-relative .kpi-content,
.kpi-panel.kpi-relative .kpi-heading {
    position: relative;
    height: auto;
    padding: 5px 0;
}

.modal-dialog .kpi-panel,
.modal-dialog .kpi-content,
.modal-dialog .kpi-heading {
    position: relative;
    height: auto;
    padding: 5px 0;
}

.KpiH {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    cursor: pointer;
}


.dropzone {
  width: 100%;
  height: 90px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  margin: 20px;
  font-family: Arial;
}




.feed-box {
	webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    flex-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    flex-align: center;
    -webkit-box-flex: 1 0 300px;
    -moz-box-flex: 1 0 300px;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    -moz-transition: border 0.25s;
    -o-transition: border 0.25s;
    -webkit-transition: border 0.25s;
    transition: border 0.25s;
    background-color: rgba(255, 255, 255, 0.59);
    border: 1px solid #c1bfb7;
    color: #666666;
    height: 200px;
  width: 100%;
    position: relative;
	
	}
.dark  .feed-box{      color: white;  background-color: rgba(20, 27, 46, 0.42);}	
 .feed-box .feed-box-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;    z-index: 5;
}

.feed-box .feed-box-title {
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    line-height: 1.3;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 0.05em;
    line-height: 1;
    /* max-width: 80%; */
    text-transform: uppercase;
    margin: 10% 3px 3% 3px;
    text-align: center;
    z-index: 1;
}
.feed-box  .GeneravVal .feed-box-title { font-size: inherit}
.feed-box .feed-box-header {
    font-family: "Palanquin", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.4;
    text-transform: uppercase;
}

.home-db-list{ list-style:none;     list-style: none;
    margin: 0;
    padding: 0;}
.home-db-list li { padding:10px;}

.feed-box-type {
        display: block;
    padding: 3px 7px;
}


.feed-box .feed-box-depth {
    right: 10px;
    position: absolute;
    text-align: right;
    top: 7px;
    width: 30%;
}
.feed-box .feed-box-depth a {
    margin-left: 5px;
}
.feed-box .feed-box-depth a:hover
.feed-box .feed-box-depth a:focus {
    text-decoration:none 
}

.large-model {
   margin-top: 60px !important;
}
.large-model .modal-content {
    background-color: rgba(255,255,255,0.89);
	color:#fff;
	border-radius: 0px;
    -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.19);
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.19);
}
.dark .large-model .modal-content  {  background-color: rgba(0,0,0,0.89);}
.large-model .modal-header {background-color: rgba(228, 228, 228, 0.87) !important;
    color: black;}

.darkTheme  .large-model  .modal-header,
.dark  .large-model  .modal-header{
  background-color: rgba(0, 0, 0, 0.36) !important;
    border-bottom: 1px solid #3e3b34 !important;
    color: #f9f9f9;
}

.large-model
fieldset {
    min-width: 0;
    padding: 10px;
    margin: 0 0 15px 0;
    border: 1px solid rgba(60, 60, 60, 0.18);
	background:rgba(204, 204, 204, 0.14);
}
.dark .large-model
fieldset {
    background: rgba(0, 0, 0, 0.16); }
.large-model .modal-header h3 {
    font-size: 150%;
   
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}
.darkTheme  .large-model .modal-content,
.dark  .large-model .modal-content
{
    background-color: rgba(14, 18, 27, 0.87) !important;
    color: #ffffff !important;
}

.large-model .modal-header .angularClose {
   
    font-size: 100%;
}
.large-modellegend {
    font-size: 80%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid rgba(138, 138, 138, 0.24);
    text-transform: uppercase;COLOR: INHERIT;
	    float: left;
    margin-bottom: 10px;
}


.dark  .modal-backdrop, 
.darkTheme  .modal-backdrop{
    background-color: #565656;
}