

.dropdown-header {
    padding: 0px 10px;
    font-size: 100%;
    line-height: 150%;
    color: #D6D6D6;
}

.content-region {
    z-index: 0;
    width: 100%;
    height: 100vh;
	position:fixed;
}

.dark .content-region {
  color: #FFFFFF;
   
	
	background: #141b2e; /* For browsers that do not support gradients */
    background: linear-gradient(rgba(28, 42, 59, 0.76) ,#141b2e 80%); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(rgba(28, 42, 59, 0.76) ,#141b2e 80% ); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(rgba(28, 42, 59, 0.76) ,#141b2e 80%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(28, 42, 59, 0.76) ,#141b2e 80%); /* Standard syntax */
}

.light .content-region {
    /*background-color: rgba(222, 222, 222, 0.8);*/
    color: #333333 !important;
}

.jumbotron {
    min-height: 300px;
    padding: 0;
    position: relative;
    margin: 0;
    background-color: transparent;
}

.menu-user {
    width: 58px;
}

.jumbotron-content {
    min-height: 300px;
    width: 100%;
}

.jumbotron-title {
    min-height: 100px;
    width: 100%;
    padding: 20px 15px 20px 15px;
    display: block;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
}

    .jumbotron-title .usericon {
        width: 70px;
        margin-right: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 3px;
        position: absolute;
    }
.jumbotron p {
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: 200;
    padding-top: 6px;
}
    
    .jumbotron-title .usericon img {
        width: 100%;
        border-radius: 50%;
    }

.home-search {
    margin: 0 auto;
    max-width: 500px;
    display: block;
    
 
	    position: relative; }
.home-search .searchbox {   padding: 5px 0 5px 5px;
  background: rgba(255,255,255,0.5);min-height: 32px;
}
.dark .home-search .searchbox { background: rgba(0,0,0,0.5);} 
.home-text{
      background: transparent !important;
    border: none !important;
    width: inherit;
    margin: 0;
    display: block;
    height: 13px !important;
}

.ti-right{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
 .collab-text {
    
 
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.navbar-default {
    border: none;
    margin: 0;
}



.darkTheme {
    /* background: repeating-linear-gradient(45deg,#0f0f0f,#0f0f0f 2px,#000000 2px,#000000 4px) !important; */
    background-color: #2D3644 ;
    
    fill: #FFFFFF ;
}

.modal-body.lightTheme {
    background-color: #ffffff !important;
}

ul.lightTheme,
ul.light {
    background-color: transparent !important;
    color: #333333 !important;
}

    ul.lightTheme li.gridster-item,
    ul.light li.gridster-item {
        background-color: rgba(255,255,255,0.9) !important;
        color: #333333 !important;
        margin-bottom: 10px !important;
    }

ul.darkTheme,
ul.dark {
    color: transparent !important;
    background-color: transparent !important;
}

.rowDark .darkTheme,
.rowDark .dark {
    background-color: #202938 !important;
    color: #C3C3C3 !important;
    fill: #C3C3C3 !important;
}

ul.darkTheme li.gridster-item,
ul.dark li.gridster-item {
    background-color: #202938 !important;
    color: #C3C3C3 !important;
    fill: #C3C3C3 !important;
}

.darkTheme .panel-default,
.dark .panel-default {
    background-color: #202938 !important;
    color: #C3C3C3 !important;
    fill: #C3C3C3 !important;
    border-color: #363E4C;
}

    .darkTheme .panel-default .panel-heading,
    .dark .panel-default .panel-heading {
        color: #DADADA;
        background-color: #343C4A;
        border-color: #363E4C;
    }

#IntroDashDetails {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 20px;
}

    #IntroDashDetails h1 {
        font-size: 180%;
        margin-top: 20px;
        margin-bottom: 0px;
    }

@media (min-width: 1400px) {
    #IntroDashDetails h1 {
        font-size: 200%;
        margin-bottom: 15px;
    }
}

@media (min-width: 1800px) {
    #IntroDashDetails h1 {
        font-size: 220%;
        margin-bottom: 20px;
    }
}

#IntroDashDetails .label {
    font-size: 55%;
    font-weight: 400;
    line-height: 1;
}

#IntroDashDetails uSpl {
    padding: 5px 0;
    margin: 0 10px;
    /*white-space: nowrap;*/
    line-height: 200%;
}

@media (max-width: 768px) {
    #IntroDashDetails small {
        clear: both;
        display: inline-block;
        margin: 10px 0;
    }
}

#IntroDashDetails .label uSpl {
    border: none;
}

#IntroDashDetails .textic {
    padding-left: 15px;
    padding-left: 90px;
}

#IntroDashDetails .labelic {
    position: absolute;
    width: 80px;
}

@media (min-width: 1400px) {
    #IntroDashDetails .textic {
        padding-left: 120px;
    }
    #IntroDashDetails .labelic {
        position: absolute;
        width: 120px;
    }
    .dashbIcon {
        height: 100px;
        border-radius: 50%;
        width: 100px;
        font-size: 50pt !important;
        text-align: center;
        line-height: 105px;
        box-shadow: 0 0 5px rgba(127, 127, 127, 0.3);
        vertical-align: middle;
    }
}
.groupKPIList{ display:block; padding:15px ;}



.carsouelList { border-right: 1px solid rgb(187, 187, 187); min-height: 500px;}
.dark  .carsouelList { border-right: 1px solid rgb(68, 100, 125);}

.ScoreCardItem { border-top: 1px solid rgb(187, 187, 187); padding:0; position:relative;min-height: 100px;max-height: 200px;}

 .dark  .ScoreCardItem { border-top:1px solid rgb(77, 94, 107)}
 .ScoreCardItem .first {border-top:0}


@media (min-width: 768px) {
.scoreCardList {     padding: 0; max-height:500px; overflow:hidden;
    }
 .dark  .scoreCardList { border-left: 0px solid rgb(68, 100, 125);     
} 
.ScoreCardItem:nth-child(even) {
        /* background-color: rgba(0,0,0,0.05);*/
	  
}
}

.groupsList{ border-top: 0px solid rgb(68, 100, 125); padding:10px 0; display:block; clear:both}
.ScoreCardItem  .kpi-content { padding-top:0; position:relative ;min-height:70px}
 .ScoreCardItem   .kpi-panel , .ScoreCardItem .kpi-heading { position:relative ;}
  .ScoreCardItem .bgrLoad {
   
    height: 100px;
}
.groupsList:nth-child(odd) {
       background-color: rgb(239, 239, 239);
	   box-shadow: 1px 1px 11px #a9a9a9;
}
.dark
.groupsList:nth-child(odd) {
      background-color: rgba(43,56,72,0.9);
	  box-shadow: 0px 0px 8px #000000
}
.group-slide:focus{ outline:none; box-shadow:none}


.group-slide  .group-slide-container{  border-left: 1px solid  rgb(179, 179, 179); position:relative; min-height:400px;}
.dark .group-slide  .group-slide-container{  border-left: 1px solid rgb(68, 100, 125); }
.group-slide .slick-active:nth-child(1)  .group-slide-container{  border-left: 1px solid transparent; }
.group-slide:nth-child(1)  .group-slide-container {  border-left: 0px solid rgb(68, 100, 125);}
h1.group-title {
    font-weight: normal;
    font-size: 180%;
	text-align:center;
}
.group-setting.sm{ max-width:100px; margin:0 auto;}
.group-setting{ max-width:250px; margin:0 auto; font-size:14px;}
.right-min {
    margin-top: -15px;
}

.right-min .actIcon1 {
    font-weight: normal;
    font-size: 110% !important;
    margin: 5px 15px;
}

.ag-fresh .ag-group-cell {
    font-style: normal;
}

legend {
    font-size: 115%;
    padding: 7px 0 7px 0;
    border-bottom-style: solid;
}

label {
    font-weight: 500;
}

.form-control,
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 100%;
    margin: 0 0 15px;
    padding: 5px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.darkTheme .form-control,
.dark .form-control,
.darkTheme textarea.materialize-textarea {
    color: #ffffff;
    border-bottom: 1px solid #566479;
}


.dark select.form-control option{
    color: #000;
    background-color: #ffffff;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ams > .ams_btn {
    text-align: left;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    padding: 5px;
    font-size: 100%;
    min-height: 38px !important;
    border-radius: 0;
    color: #5A5A5A;
    white-space: nowrap;
    background-color: transparent;
    background-image: none;
    display: block;
    width: 100%;
}

.darkTheme .ams > .ams_btn,
.dark .ams > .ams_btn {
    color: inherit;
    border-bottom: 1px solid #566479;
	    margin: 0;
    line-height: 81%;
    min-height: 22px !important;
}
.borderbtmcolor{
    border-bottom-color:silver;
}
.padtb40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.padlr0{
    padding-left:0px;
}
.input-group-addon {
    padding: 6px 22px 6px 12px;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    color: #777777;
    text-align: center;
    background-color: transparent;
    border: 0 solid #ccc;
    border-radius: 0;
}
body.dark  .input-group-addon  {color: #b3b3b3;}
.login-panel {
    margin-top: 100px;
}
.login-panel  .navbar-brand {     margin: 0 auto;
    width: 220px;
    float: none;
    display: block;}

.nomargin {
    margin: 0;
}

.kpiTitleH {
    position: relative;
}

.kpiTitleH .KPINm {
    padding-right: 60px;
    width: 100%;
}

.kpiTitleH-link {
    position: absolute;
    right: 0;
}

.kpiTitleH-link > div {
    padding: 5px 10px 00 00;
    float: left;
}

.kpiTitleH-menu {
    position: absolute;
    right: 10px;
    overflow: visible !important;
}

.kpiTitleH-menu li a {
    text-align: left;
    cursor: pointer;
}

.kpiTitleH-menu .dropdown-toggle {
    padding: 5px 15px;
}

.kpiTitleH-menu .dropdown-menu {
    right: -1px;
    left: auto;
    top: -1px;
}

.kpiTitleH-menu .dropdown-menu li {
    background-color: #ffffff !important;
    color: #000000 !important;
    fill: #C3C3C3 !important;
}

@media (max-width:768px) {
    .no-padding-xs {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .bgLoadContainer {
        min-height: 220px;
    }
}

.bgrLoadMessage .row {
    padding: 10px 15px 0 15px;
    margin: 0;
    background-color:rgb(224, 224, 224);
    color: #000000;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.darkTheme .bgrLoadMessage .row {
    background-color: rgb(62, 72, 86);
    color: #FFFFFF;
}

.bgrLoadMessage select,
.bgrLoadMessage .input-group-addon {
    background-color: rgba(255, 255, 255, 1);
    color: #000000 !important;
    border-bottom: 1px transparent !important;
    margin-right: 1px;
    border-right: 1px solid #dedede;
}

#IntroKPI {
    min-height: 400px;
}

@media (max-width:768px) {
    footer {
        position: relative !important;
        height: 40px;
    }
    body {
        padding-bottom: 0 !important;
    }
    .static-xs {
        position: relative;
    }
    .navbar-fixed-top {
        position: relative;
    }
}

.nopadding {
    padding: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.aging-panel .TblBdy {
    height: 80%;
}

.aging-panel .list-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 10px 0 0 0;
}

.aging-panel .list-group-item {
    cursor: pointer;
    border: 0 solid #ddd;
    margin-bottom: 0;
    flex-grow: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px;
    height: 100%;
    border: 0 !important;
    border-radius: 0 !important;
}

.aging-panel .list-group-item .lgi-child {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 33%;
    padding: 0px;
    position: relative;
}

@media screen and (min-width:0\0) {
    .aging-panel .list-group-item .lgi-child {
        height: 100%;
    }
}

.aging-panel .list-group-item:hover {
    cursor: pointer;
    border: 0 solid #ddd;
    margin-bottom: 0;
}

.aging-panel .list-group-item .badge {
    background-color: #FFF;
    border-radius: 15px;
    color: #000000;
    text-align: center;
    position: absolute;
    right: 0;
    top: 33%;
    margin-top: -5px;
    font-size: 90%;
    padding: 5px 10px;
}

.aging-panel .list-group-item-danger {
    color: #a94442;
    background-color: rgba(231, 76, 60, 0.15);
    border-bottom: 1px solid rgba(231, 76, 60, 0.5);
}

.aging-panel .list-group-item-danger .badge {
    background-color: rgb(231, 76, 60);
    color: #ffffff;
}

.aging-panel .list-group-item-danger:hover {
    background-color: rgba(231, 76, 60, 0.25);
}

.aging-panel .list-group-item-warning {
    color: #8a6d3b;
    background-color: rgba(241, 196, 15, 0.15);
    border-bottom: 1px solid rgba(241, 196, 15, 0.5);
}

.aging-panel .list-group-item-warning .badge {
    background-color: rgb(241, 196, 15);
    color: #ffffff;
}

.aging-panel .list-group-item-warning:hover {
    background-color: rgba(241, 196, 15, 0.25);
}

.aging-panel .list-group-item-success {
    color: #3c763d;
    background-color: rgba(41, 183, 101, 0.15);
    border-bottom: 1px solid rgba(41, 183, 101, 0.5);
}

.aging-panel .list-group-item-success .badge {
    background-color: rgb(41, 183, 101);
    color: #ffffff;
}

.aging-panel .list-group-item-success:hover {
    background-color: rgba(41, 183, 101, 0.3);
}

.dis-table {
    display: table;
    width: 100%;
    height: 100%;
}

.dis-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.dis-table-cell.gn1 {
   
    width: 60%;
}
.dis-table-cell.gn2 {
  
    width: 40%;
	text-align:left;
}
.spinner {
    margin: 00px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #8E8E8E;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.dis-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.dis-flex-item {
    flex-grow: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.dis-flex-item .dis-flex-item-child {
    /* border-right: 1px solid #777; */
    border-top: 1px solid rgba(127, 127, 127, 0.25);
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0 20px;
}

.RequestInfoOpenTime {
    max-height: 90% !important;
}
.ScoreCardItem 
.RequestInfoOpenTime {
   
	max-height: 150px !important;
}
.ngscroll-resizable {    height: inherit; 
    overflow: hidden;}
.ngscroll-container {
    height: 100% !important;
}

.gridster-mobile .gridster-item {
    height: auto;
    position: relative;
    float: none;
}

.ag-fresh .ag-cell {
    padding: 5px !important;
    line-height: 184%;
}

.ag-fresh .ag-root {
    font-family: 'Palanquin', 'Segoe UI', Roboto, Helvetica, Sans-Serif !important;
    font-size: 100%;
}

.ag-fresh .ag-group-cell {
    font-style: normal !important;
    font-weight: 600;
}

.ag-fresh .ag-header {
    background: #EAEAEA !important;
    border-bottom: 1px solid #B3B3B3 !important;
}

.ag-fresh .ag-cell-no-focus {
    border-right: 1px solid #D6D6D6 !important;
    border-top: 0 solid transparent !important;
    border-left: 1px solid transparent !important;
    border-bottom: 0 solid transparent !important;
}

.darkTheme .ag-fresh .ag-cell-no-focus {
    border-right: 1px solid #4F5867 !important;
}

.ag-fresh .ag-cell-focus {
    border-right: 1px solid #D6D6D6 !important;
    border-top: 0 solid transparent !important;
    border-left: 1px solid transparent !important;
    border-bottom: 0 solid transparent !important;
    background-color: #dedede;
}

.darkTheme .ag-fresh .ag-header {
    background: #464F5F !important;
    border-bottom: 1px solid #616161 !important;
}

.darkTheme .ag-fresh .ag-body {
    background-color: #202938 !important;
}

.darkTheme .ag-fresh .ag-body .ag-row-even {
    background-color: #323B4A !important;
}

.darkTheme .ag-fresh .ag-body .ag-row-odd {
    background-color: #202938 !important;
}

.darkTheme .ag-fresh .ag-cell-focus {
    border-right: 1px solid #D6D6D6 !important;
    border-top: 0 solid transparent !important;
    border-left: 1px solid transparent !important;
    border-bottom: 0 solid transparent !important;
    background-color: #5A6B88;
}


/*
.introjs-overlay {
    position: absolute;
    z-index: 999990;
}
.modal.introjs-fixParent {
    height: 900px;
    z-index: 99995 !important;
}
.modal .introjs-relativePosition{
    position: relative;
    z-index: 999999!important;}
*/

.c3-chart-arc path {
    stroke: transparent;
}

.c3-circle {
    stroke-width: 3px;
    r: 5;
}

.light .c3-circle {
    stroke: white !important;
}

.dark .c3-circle {
    stroke: #202938 !important;
}

.kpi-heading-menu {
    margin: -2px 5px 0 0;
}

.kpi-heading-menu .btn {
    border-width: 1px !important;
    font-size: 140%;
    background-color: transparent;
    color: inherit;
    border-radius: 0;
}

.dark .kpi-heading-menu .btn {
    border-color: #3E495D !important;
}

.dark .kpi-heading-menu .dropdown-menu {
    right: 0;
    left: auto;
    top: 0;
}

.btn-group.btn-sharp .btn {
    border-radius: 5px !important;
    margin: 0 !important;
}

.vis-item-content {
    color: inherit;
}

.vis-item {
    color: inherit;
}

.vis-time-axis .vis-text {
    color: #7B7B7B;
}

.introjs-fixParent {
    z-index: 60000 !important;
}

.modal-open .introjs-helperLayer {
    background-color: transparent !important;
    border: 2px solid rgb(115, 115, 115) !important;
}

.handsontable th,
.handsontable td {
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    white-space: nowrap;
}
.darkTheme  .handsontable th,
.darkTheme .handsontable td {
    color:#fff;
    
    border-right: 1px solid #333f58;
    border-bottom: 1px solid #303644;
  
    line-height: 21px;
    background-color: rgba(32, 40, 59, 0.46);

}
.darkTheme   .handsontable tr:first-child th,
.darkTheme   .handsontable tr:first-child td {
    border-top: 1px solid #383838;
}

.darkTheme   .handsontable th:first-child, 
.darkTheme  .handsontable td:first-of-type, 
.darkTheme  .handsontable .htNoFrame + th,
.darkTheme   .handsontable .htNoFrame + td {
    border-left: 1px solid #282f40;
}
.handsontable input,
.handsontable textarea {
    line-height: 29px;
    background-color: #F1F1F1 !important;
}

.request-drill-header {
    padding-top: 10px;
}

    .request-drill-header .input-group {
        margin: 40px 0;
        background-color: #ffffff;
        border: 1px solid #dedede;
    }

        .request-drill-header .input-group input {
            padding: 0;
            border: 0;
            color: #000000;
        }

.light .request-drill-header {
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 1px 1px 3px #C1C1C1;
}

.dark .request-drill-header {
    box-shadow: 1px 1px 3px #0E0E0E;
    background-color: rgba(34, 37, 41, 0.5);
}

.vis-time-axis .vis-grid.vis-minor {
    border-color: #777;
    opacity: 0.5;
}

.alert-center {
    display: table;
    width: 100%;
    height: inherit !important;
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.2);
    color: #D20000;
    font-weight: 700;
}
.alert-center.trans{ background-color:transparent}
.alert-center > span{
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%
}


.page-center {
    display: table;
    width: 100%;
    height: inherit;
    font-weight: 700;
}

    .page-center.page-center-fixed {
        position: fixed;
        height: 70%;
    }

.page-center-content {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
.introjs-tooltip {
    color: #000000;
}


.ng-invisible {
    height: 1px !important;
    overflow: hidden;
    visibility: hidden;
}

.dsl .kpiChildDiv .kpi-panel {
    position: relative;
    min-height: 330px;
    min-width: 330px;
}

.dsl .kpiChildDiv {
    position: relative;
    min-width: 300px;
    height: 350px;
}

.mh300 {
    height: 380px;
    background-color: #ffffff;
}

.darkTheme .mh300,
.dark .mh300 {
    height: 380px;
    background-color: #202938 !important;
    color: #C3C3C3 !important;
    fill: #C3C3C3 !important;
}

.col-mys {
    padding-left: 5px;
    padding-right: 5px;
}

a.carousel-control {
    background-image: none !important;
    display: none;
}

.carousel-indicators li, .carousel-indicators .active {
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin: 0 2px;
}

.carousel-indicators {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    padding-bottom: 5px;
    padding-top: 11px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(130, 130, 130, 0.5);
}

.dsl .kpi-title {
    text-align: left;
}

.modal-content, .modal-dialog {
    border-radius: 0 0 10px 10px !important;
}

.modal-content {
    /*background: url(../Media/light/1.jpg) center center no-repeat fixed;*/
    -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);
}

.modal-backdrop.in{
    opacity:0.1;
}

.uib-monthpicker .btn,.uib-yearpicker .btn,.uib-daypicker .btn{
    box-shadow: none !important;
    -web-box-shadow: none !important;   
}


.btn-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10pt !important;
    font-weight: 600;
}

.collab-text {
    font-size: 11px !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

body {
  padding: 20px;
}
	
	/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
 
 ul[dnd-list] .dndPlaceholder{
  display: block;
  background-color: #dedede;
  padding: 10px 15px;
  min-height: 42px;
  color:#666
}
 .dark 
 ul[dnd-list] .dndPlaceholder{
  display: block;
  background-color: #111a1f;
  padding: 10px 15px;
  min-height: 42px;
  color:#fff
}
.typesDemo ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #29383f ;
  padding: 10px 15px;
  min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.typesDemo ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  margin-bottom: -1px;

  /* Disable text selection if item is not draggable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.typesDemo ul[dnd-list] li dnd-nodrag {
  display: block;
  padding: 10px 15px;
}

/**
 * Gender-specifc background
 */
.typesDemo ul[dnd-list] li.background-man {
  background-color: #CAE0FC;
}

.typesDemo ul[dnd-list] li.background-woman {
  background-color: #FFE2F5;
}

.typesDemo ul[dnd-list] input.background-man {
  background-color: #D8E9FF;
  color: #2F4D99;
}

.typesDemo ul[dnd-list] input.background-woman {
  background-color: #FFF0FA;
  color: #D84FA7;
}

/**
 * Handle positioning
 */
.typesDemo .handle {
  cursor: move;
  position: absolute;
  top: 14px;
}

.typesDemo .name {
  margin-left: 20px;
}

.btn-danger-rest{
   
    font-size: 21px !important;
}




/**?slider sep 1 2016 */ 

ul[rn-carousel] {
    width: 100%;
    min-height:450px;
    margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;    width: 100%;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.custom-indicator span {
  transition: all 0.3s ease-in;
}
.custom-indicator span.active {
  color:yellow !important;
}

ul[rn-carousel] > li { color: inherit;}
.genKpiLinks a{ color:#000000}
.dark  .genKpiLinks a{ color:#fff}
.rn-carousel-indicator-parent { display:table; margin: 0 auto;}
.rn-carousel-indicator-parent > div {
    display: table-cell;
    vertical-align: middle;
}
.rn-carousel-indicator-parent .one{ max-wifth:80%}



div.rn-carousel-indicator span.item {
       cursor: pointer;
    color: inherit;
    padding: 5px 5px;
    border-radius: 17px;
    -moz-box-shadow: inset 0 0 7px rgba(35, 44, 52, 0.42);
    -webkit-box-shadow: inset 0 0 7px rgba(35, 44, 52, 0.42);
    box-shadow: inset 0 0 7px rgba(35, 44, 52, 0.42);
    margin-left: 10px;
	display:inline-block;
	 text-overflow: ellipsis;

  /* Required for text-overflow to do anything   max-width: 25%;*/
  white-space: nowrap;
      overflow: hidden;
   
}
.dark div.rn-carousel-indicator span.item {
   
    -moz-box-shadow: inset 0 0 26px rgba(35, 44, 52, 0.42);
    -webkit-box-shadow: inset 0 0 26px rgba(35, 44, 52, 0.42);
    box-shadow: inset 0 0 26px rgba(35, 44, 52, 0.42);

}
div.rn-carousel-indicator span.item  i { font-style:normal ;display:block;      padding: 0 13px; white-space: nowrap; font-size:13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    WIDTH: 100%; white-space: nowrap;}
div.rn-carousel-indicator span.item  i.dotcarso{ display:block;    padding: 5px;}

div.rn-carousel-indicator span.active {
    color: #000000; 
    background: rgba(224, 224, 224, 0.2);   
}
.dark 
div.rn-carousel-indicator span.active {
    color: white; 
    background: rgba(224, 224, 224, 0.2);   
}
@media (min-width: 768px) {
	.carousel2 .kpi-heading { display:none}
	.carousel2 .kpi-content { padding-top:0}
}

h4.genKpiTitle {
    font-size: 130%;
    margin-bottom: 3px;
}

.swatchGrp .input-group {
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;    text-align: center;
}
.swatchGrp .input-group.sm {
    max-width: 150px;
    margin: 0 auto;
    font-size: 14px;    text-align: center;
}
.swatchGrp .dropdown-menu { z-index:999999; right: 0;
    left: inherit;}
.swatchGrp .dropdown-menu>li>a {
    font-size: 14px;
}
.swatchGrp  .btn { font-size:14px; background-color:transparent !important; border:none;     padding: 6px 6px;}
.swatchGrp  
.ams .caret{     margin: 0 12px 1px 4px!important;     border-top-color:inherit;}
.swatchGrp .input-group-addon { padding:6px 6px 6px 0px}
.dark  .swatchGrp .input-group-addon ,
.dark  .swatchGrp .btn
{ color:#fff}

.slick-next:before, .slick-prev:before {
   
    color: #838384;
}
.dark  .slick-next:before, .dark  .slick-prev:before {
   
    color: #ffffff;
}

.dark .list-group-item {
    color: azure;

    background-color: #2d3644;
    border: 1px solid #515d71;
}
.dark  .list-group-item.active,
.dark  .list-group-item:focus,
.dark  .list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #465265;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: rgba(121, 121, 121, 0.15);   
	opacity: 0.5;
}

.input-group-btn {
   
    font-size: inherit;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #8c8c8c;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.zoomTableParent{ overflow: auto; min-height:200px;}
.slick-dots li {
    
    margin: 0 0px;
}
.slick-dots li button::before {
    font-size: 18px;
}

.c3-tooltip th {
    background-color: #ffffff;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #2d3a4a;
    border-bottom: 1px solid #b9b9b9;
}

.c3-tooltip tr td {
    color: #777;
	
    border-left: 1px solid #c3c3c3;
}
.slick-slide 
.ams .ams_items_container {
    display: block;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
   max-height: 116px;
	
}
.slick-slide 
.ams .ams_helpers_container {
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 0;
    display: none;
}
.kpi-heading.swatchGrp {
    text-align: center;
}
.swatchGrp  
.kpi-title {
    
    line-height: 12px;
    padding-left: 0px;
    height: auto; padding-bottom: 6px;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0; 
  padding: 0;
  width: 60px;
    height: 60px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer; 
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
display: block;
    position: absolute;
    top: 28px;
    left: 20px;
    right: 20px;
    height: 3px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
 position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
  top: -7px;
}

.c-hamburger span::after {
  bottom: -7px;
}
.c-hamburger--htx {
background-color:#29383f;  
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.isActive {
  background-color: #ffb300;
}

.c-hamburger--htx.isActive span {
  background: none;
}

.c-hamburger--htx.isActive span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.isActive span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.isActive span::before,
.c-hamburger--htx.isActive span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}




.cal-heatmap-container .subdomain-text {
    font-size: 8px;
    stroke: rgba(255, 255, 255, 0.2) !important;
    paint-order: stroke;
    stroke-width: 3px;
	fill: #000000;
    
}
.dark .cal-heatmap-container .subdomain-text{
    font-size: 8px;
  
    pointer-events: none;
    paint-order: stroke;
    stroke-width: 2px;
    
}
.dark .cal-heatmap-container  .leg-sm  .subdomain-text{   fill: #fff;}

div.jqcloud span {
    padding: 0;
   /* text-shadow: 1px 1px 12px rgba(88,88,88,0.5), -1px -1px 2px rgb(140, 140, 140);   */
   font-weight:400;
}
.dark 
div.jqcloud span {
    padding: 0;
    text-shadow: 1px 1px 12px rgba(88,88,88,0.5), -1px -1px 2px rgb(4, 4, 4);
    /* outline: 1px solid #000000; */
}
.groupListKPIItem {min-height:500px; display:block; position:relative; padding:50px 10px ; border-bottom: 1px solid  rgb(179, 179, 179)}
.groupListKPIItem.col-sm-4{}
.groupListKPIItem:nth-child(even) .group-slide-container{ border-left: 1px solid  rgb(179, 179, 179);}

.dark .groupListKPIItem  { border-bottom: 1px solid rgb(68, 100, 125);}
.dark .groupListKPIItem:nth-child(even) .group-slide-container{ border-left: 1px solid rgb(68, 100, 125);}

.groupListKPIItem .ag-fresh{ height:410px !important; }

@media (max-width: 768px) {
.scoreCardList { max-width:300px; margin:0 auto;}
.scoreCardList .ScoreCardItem { padding-bottom:30px;}
    .scoreCardList , .scoreCardList  .ngscroll-resizable ,.scoreCardList   .ngscroll-container {
          overflow: hidden;
    max-height: 3000px;
    margin-top: 0 !important;
    }
	 .scoreCardList .ngscroll-scrollbar-container { display:none}
	
.content-region {
    top: 0;
}

}
.slickClassSlide{}

.ag-fresh  #borderLayout_eRootPanel:not(:first-child) { display:none; height:0px !important;}

.no-hide-input.ng-hide{ display: table-cell !important}
.ams_layer.position_top {
     transform: translate(0,0%) !important;
    top: -1px !important;
	    margin-bottom: 080px;
}
.ams .ams_items_container {
   
    max-height: 200px;
}
.ccontentc { margin-bottom:20px;}



.ams .ams_items_container li {
    list-style-type: none;
    text-align: left;
}
.ams_behind {
  
    z-index: 1;
}
.swatchGrp  .ams > .ams_btn { border-bottom:0px ; 
    min-height: 15px !important;}


.full-list .ScoreCardItem {
    float: left;
    display: block;
    width: 33%;
    min-height: 180px;
}
.full-list .GeneravVal {
    line-height: 112px;
}
.addScoreCardDiv { width:100% !important}

.dark input.form-control{
       color: #ffffff;
    background-color: #353c40;
}
.dark .nav-tabs>li.active>a,
.dark .nav-tabs>li.active>a:focus,
.dark .nav-tabs>li.active>a:hover {
    color: #8e8e8e;
    cursor: default;
    background-color: #3b4448;
    border: 1px solid #646f73;
    border-bottom-color: transparent;
}

.btn-gen {
    background-color: #a7a7a7;
    color: #ffffff;
    margin: 0 0 10px 10px;
}
.btn-gen:hover{color: #ffffff;}
.dark
.btn-gen {
    background-color: #596165;
    
}


.widgetError
{font-size: 13px;
    color: #a94442;
    position: absolute;
    width: 100%;
    top: 40%;
	z-index:1}
.widgetError a{font-weight:bold; color:inherit}
.widgetError p {        max-width: 235px;
    text-align: center;
    margin: 0 auto;
    border-radius: 26px;
    padding: 6px 7px;
    border-color: #ebccd1;
    color: #ff6b6b;
    border: 1px solid #fb5151;
	}

.ngHide{ display:none}

.modalZoom  .action-grp{ display:none;}
.ch-tooltip {
   
    margin-top: 90px;
}
.ch-tooltip::before {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
    padding: 0;
    display: block;
    top: -12px;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-bottom-color: #222;
}
.ch-tooltip::after { display:none; visibility:hidden}

.ui-notification{     
	max-height: 300px;
    overflow: auto;
	}
	
	.sc-btn-first {
    width: calc(100% - 60px);
}

.groupSelection {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    float: left;
    padding-right: 4px;}
	
.filtermax {
    max-width: 100%;
    word-break: break-all;
}

.getUpdate{ padding:0 0 5px 5px; height:30px; display:block;}

.getUpdateLabel {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  /*  background-color: rgba(113, 113, 113, 0.5);*/
    float: right;
    margin-right: 10px;}
	
.light  .getUpdateLabel,
.light  .getUpdateLabel {color: rgba(128, 128, 128, 0.8) }

.colorPickerCustom{     
	width: 40px;
    border: 1px solid #343f44;
    color: rgba(0,0,0,0) !important;
    margin-top: 10px;}
	
	
	.list-group-settings {
    display: block;
    border-right: 1px solid rgba(130, 130, 130, 0.64);
    padding-right: 15px;
}

.list-group-settings a {
    display: block;
    padding: 5px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
}