.header {
    height: 40px;
    background-color: #555555 ;
    width: 100%;
}
.darkTheme  .header{
    background-color: rgb(41, 56, 63);
    color: #ffffff ;
}
body {
    margin: 0;
    position: relative;
    min-height: 100%;
    padding: 0;
    font-family:  'Palanquin', 'Segoe UI', Roboto, Helvetica, Sans-Serif !important;
    font-size: 11pt;
	background-color: #F0F2F5 ;
}
.darkTheme {
    background-color: #3f4e5a ;
    color: #FFFFFF ;
    fill: #FFFFFF ;
}

body.darkTheme, body.dark {
    padding-bottom: 36px;
    background-color: #29383f !important;
    background: url(../../MosaicDiscovery/Media/bgr-dark.jpg) center center no-repeat fixed;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}


 .modal-body.darkTheme {
    background-color: rgba(14, 18, 27, 0.87) !important;
    color: #C3C3C5 !important;
}
.navbar-brand   {
  /*  background: url(../Media/logo-dark.svg) center center no-repeat;
    -webkit-background-size: 95%;
    -moz-background-size: 95%;
    -o-background-size: 95%;
    background-size: 95%;*/
        width: 300px;
    margin-left: 0;
    height: 40px;
    margin-top: 0;
}
.darkTheme
.navbar-brand   {
   /* background: url(../Media/logo-white.svg) center center no-repeat;
    -webkit-background-size: 95%;
    -moz-background-size: 95%;
    -o-background-size: 95%;
    background-size: 95%;*/
}
.navbar-brand .mosaic {
    font-size: 18px;
    background: url(../../MosaicDiscovery/Media/logo.svg) center left no-repeat;
    width: 42px;
    height: 31px;
    display: block;
    float: left;
}

   .navbar-brand .projname {
    font-size: 25px;
    font-family: 'Pathway Gothic One', 'FjallaOneRegular', Roboto, Helvetica, Sans-Serif;
    display: block;
    float: left;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding: 5px;
}

.navbar-brand {
   font-family: 'Hind-Bold', Roboto, Helvetica, Sans-Serif;
    color: #000000!important;
    height: 40px;
    padding: 7px 15px;
    font-size: 16px;
}
.dark .navbar-brand {
    color: #ffffff !important;
  }
.darkTheme .navbar-default {  
    background-color: #141b2e;
    color: #ffffff ;
	border-color: #141b2e;
}
.darkTheme .modal-content {
   color:#ffffff;
    background-color: #303940;
}
.darkTheme
.modal-header {
    color: #fff;
   background-color: rgba(14, 18, 27, 0.87) !important;
}
.darkTheme
.close {
   
    color: #fff;
    text-shadow: 0 1px 0 #dedede;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #cecece;
    margin: 0;min-height: 40px;
}

.headerSettings {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
	    padding-right: 40px;
}
.headerSettings  a.links {
    padding: 7px 15px;
    line-height: 194%;
    display: block;    float: left;
}
.headerSettings  a.imglinks {
    padding:  0px 0px 0px 0px;
    line-height: 0%;
    display: block;    float: left;
}
.headerSettings  a.imglinks img { width:60px !important; height:40px !important;}
.headerSettings hldr {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    padding-right: 3px;
    height: 40px;
}
.headerSettings .btn-group {
    margin-left: 0;
    display: block;
    float: left;
    
    padding: 0 0px;
    cursor: pointer;
    font-size: 100%;
}

.sidebar-toggle-btn-new {
    position: fixed;
    top: 0;
    right: -00px;
    z-index: 9999;
    padding: 0 0px;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	    float: right;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0; 
  padding: 0;
  width: 40px;
    height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer; 
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
display: block;
    position: absolute;
     top: 19px;
    left: 10px;
    right: 10px;
    height: 3px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
 position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
  top: -7px;
}

.c-hamburger span::after {
  bottom: -7px;
}
.c-hamburger--htx {
background-color:#29383f;  
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.isActive {
  background-color: #ffb300;
}

.c-hamburger--htx.isActive span {
  background: none;
}

.c-hamburger--htx.isActive span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.isActive span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.isActive span::before,
.c-hamburger--htx.isActive span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.navbar-brand.nbm {     width: 40px;
    height: 40px;}

span.navbar-brand {padding:10px 0px}

.sidebar-toggle-btn-new{ 


    position: fixed;
    top: 0;
    right: -00px;
    z-index: 9999;
    padding: 0 0px;
    border-radius: 0;
 -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid #515b63;
}
.sidebar-toggle-btn-new.active{ right: 00px;}
.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1034;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.top-bar {
    background-color: #6f6f6f;
    color: rgba(255,255,255,.84);
	height:40px;
}
/* -- Google typography ------------------------------- */
.headline {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
/* -- Bootstrap-like style ------------------------------- */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-menu {
  display: none;
}
/* -- Constructor style ------------------------------- */
.constructor {
  position: relative;
  margin: 0;
  padding: 0 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar,
.wrapper {
  display: table-cell;
  vertical-align: top;
}
.sidebar-stacked.open + .wrapper .constructor {
  margin-left: 280px;
}
@media (max-width: 768px) {
  .sidebar-stacked.open + .wrapper .constructor {
    margin-left: 240px;
  }
}
/* -- Sidebar style ------------------------------- */
.sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:before,
.sidebar:after {
  content: " ";
  display: table;
}
.sidebar:after {
  clear: both;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}
.sidebar .sidebar-header {
  position: relative;

  margin-bottom: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-header.header-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sidebar .sidebar-header:hover .sidebar-toggle {
  opacity: 1;
}
.sidebar .sidebar-toggle {
  position: relative;
  float: right;
  margin: 7px 0 0 0;
  padding: 0;
  background-image: none;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
  content: " ";
  display: table;
}
.sidebar .sidebar-toggle:after {
  clear: both;
}
.sidebar .icon-material-sidebar-arrow:before {
  content: "\e610";
}

.sidebar .sidebar-brand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-brand .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-brand .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  text-decoration: none;
}
.sidebar .sidebar-badge {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.sidebar .sidebar-badge.badge-circle {
  border-radius: 50%;
}
.sidebar .sidebar-divider,
.sidebar .sidebar-nav .divider {
  position: relative;
  display: block;
  height: 1px;
  margin: 0px 0 0;
  padding: 0;
  overflow: hidden;
}
.sidebar .sidebar-text {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-text:hover,
.sidebar .sidebar-text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-text .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-text .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-icon {
  display: inline-block;
  margin-right: 16px;
  min-width: 40px;
  width: 40px;
  text-align: left;
  font-size: 20px;
}
.sidebar .sidebar-icon:before,
.sidebar .sidebar-icon:after {
  vertical-align: middle;
}
.sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-nav li {
  position: relative;
  list-style-type: none;
}
.sidebar .sidebar-nav  .dropdown-header {
    padding: 0px 0px;
}
.sidebar .sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0;
  padding-left: 16px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
      font-size: 13px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-nav li a.main{

    line-height: 21px;}
.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-nav li  .caretdown {
  position: absolute;
  right: 0px;
  top: 0px;
  padding:2px 10px;
}
.sidebar .sidebar-nav li  .caretdown .fa-stack-2x {
    font-size: 23px;
    line-height: 28px;
}
.sidebar .sidebar-nav li a .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-nav li a:hover {
  background: #e0e0e0;
}
.sidebar .sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar-default {
  background-color: #fff;
}
.dark .sidebar-default {
    background-color: rgb(77, 83, 86);
}
.sidebar-default .sidebar-header {
  background-color: #eceff1;
}
.sidebar-default .sidebar-toggle {
  color:##FFFFFF;
  background-color: transparent;
}
.sidebar-default .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-default .sidebar-brand:hover,
.sidebar-default .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-default .sidebar-badge {
  color: #fff;
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.dark .sidebar-default .sidebar-divider,
.dark .sidebar-default .sidebar-nav .divider {
    background-color: #616567;
}
.sidebar-default .sidebar-text {
  color: #212121;
}
.sidebar-default .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.dark
.sidebar-default .sidebar-nav li > a {
  color: #ffffff;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li:hover {
  
  background-color: transparent;
}

.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .active > a,
.sidebar-default .sidebar-nav > .active > a:hover,
.sidebar-default .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse {
  background-color: #212121;
}
.sidebar-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand:hover,
.sidebar-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse .sidebar-divider,
.sidebar-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-inverse .sidebar-text {
  color: #f5f5f5;
}
.sidebar-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav li > a i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:hover > a,
.sidebar-inverse .sidebar-nav li > a:hover {
  color: #bdbdbd;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav li:hover > a i,
.sidebar-inverse .sidebar-nav li > a:hover i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:focus > a,
.sidebar-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav li:focus > a i,
.sidebar-inverse .sidebar-nav li > a:focus i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .open > a,
.sidebar-inverse .sidebar-nav > .open > a:hover,
.sidebar-inverse .sidebar-nav > .open > a:focus {
  color: #bdbdbd;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .active > a,
.sidebar-inverse .sidebar-nav > .active > a:hover,
.sidebar-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .disabled > a,
.sidebar-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-inverse .sidebar-nav > .disabled > a:focus {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #000000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: #000;
}
.sidebar-colored {
  background-color: #fff;
}
.sidebar-colored .sidebar-header {
  background-color: #e91e63;
}
.sidebar-colored .sidebar-toggle {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand:hover,
.sidebar-colored .sidebar-brand:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored .sidebar-badge {
  color: #fff;
  background-color: #ec407a;
}
.sidebar-colored .sidebar-divider,
.sidebar-colored .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored .sidebar-text {
  color: #212121;
}
.sidebar-colored .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-colored .sidebar-nav li:hover > a,
.sidebar-colored .sidebar-nav li > a:hover {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav li:hover > a i,
.sidebar-colored .sidebar-nav li > a:hover i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav li:focus > a,
.sidebar-colored .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li:focus > a i,
.sidebar-colored .sidebar-nav li > a:focus i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav > .open > a,
.sidebar-colored .sidebar-nav > .open > a:hover,
.sidebar-colored .sidebar-nav > .open > a:focus {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .active > a,
.sidebar-colored .sidebar-nav > .active > a:hover,
.sidebar-colored .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored .sidebar-nav > .disabled > a,
.sidebar-colored .sidebar-nav > .disabled > a:hover,
.sidebar-colored .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored-inverse {
  background-color: #e91e63;
}
.sidebar-colored-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-colored-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand:hover,
.sidebar-colored-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-divider,
.sidebar-colored-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored-inverse .sidebar-text {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li > a i {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li:hover > a,
.sidebar-colored-inverse .sidebar-nav li > a:hover {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav li:hover > a i,
.sidebar-colored-inverse .sidebar-nav li > a:hover i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a,
.sidebar-colored-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a i,
.sidebar-colored-inverse .sidebar-nav li > a:focus i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .open > a,
.sidebar-colored-inverse .sidebar-nav > .open > a:hover,
.sidebar-colored-inverse .sidebar-nav > .open > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .active > a,
.sidebar-colored-inverse .sidebar-nav > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-colored-inverse .sidebar-nav > .disabled > a,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:focus {
  color: #bdbdbd;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar {
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.sidebar .dark { background-color:#000000}
.sidebar .light{ background-color:#ffffff}
.sidebar.open {
  min-width: 280px;
  width: 280px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-left,
.sidebar-fixed-right,
.sidebar-stacked {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5000;
}
.sidebar-stacked {
  left: 0;
}
.sidebar-fixed-left {
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
  right: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}
.sidebar-fixed-right.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-right .icon-material-sidebar-arrow:before {
  content: "\e614";
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 22;
   padding: 0px;
	background-color: rgba(255, 255, 255, 0.8) !important;
    color: #797979 !important;
}
.darkTheme footer svg text {
    fill: #ffffff !important;
	    font-size: 7px !important;
}
.darkTheme footer {
      background-color: #0f1527 !important;
    color: #ffffff !important;
}
#lntFooterLogo {
    float: right;
    height: 25px;
    margin-left: 5px;
    width: 118px;
}
svg:not(:root) {
    overflow: hidden;
}


.colorBox {
    display: inline-block;
    height: 30px;
    width: 50px;
    margin: 0 0px;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.colorBox .dark { background-color:#3f4e5a;}
.theme-box {   
    color: white !important;
}
.theme-text {       
	background-color: transparent !important;	
}
.theme-fill rect{ fill: inherit}
.amber.theme-box {
    background-color: #F1A30B ;
    border-color: #F1A30B;
}
.amber.theme-text { 
	color: #F1A30B !important;
}
.amber.theme-fill { 
	fill: #F1A30B !important;
}
.brown.theme-box {
    background-color: #A05000 ;
    color: white ;
    border-color: #A05000;
}
.brown.theme-text {  
	color: #A05000 !important;
}
.brown.theme-fill {  
	fill: #A05000 !important;
}
.cobalt.theme-box {
    background-color: #0050EF;   
    border-color: #0050EF;
}
.cobalt.theme-text {
    color: #0050EF !important;
}
.cobalt.theme-fill {
    fill: #0050EF !important;
}
.crimson.theme-box {
    background-color: #A20025;
    color: white ;
    border-color: #A20025;
}

.crimson.theme-text {
	color: #A20025 !important;
}
.crimson.theme-fill {
	fill: #A20025 !important;
}
.cyan.theme-box {
    background-color: #1BA0E1;   
    border-color: #1BA0E1;
}

.cyan.theme-text {	
	color: #1BA0E1 !important;
}
.cyan.theme-fill {	
	fill: #1BA0E1 !important;
}
.magenta.theme-box {
    background-color: #D80073;border-color: #D80073;
}
.magenta.theme-text {	
	color: #D80073 !important;
}
.magenta.theme-fill {	
	fill: #D80073 !important;
}
.lime.theme-box{
    background-color: #A2C139;border-color: #A2C139;
}
.lime.theme-text {   
	color: #A2C139 !important;
}
.lime.theme-fill {   
	fill: #A2C139 !important;
}
.indigo.theme-box {
    background-color: #6A00FF;border-color: #6A00FF;
}
.indigo.theme-text {
	color: #6A00FF !important;
}
.indigo.theme-fill {
	fill: #6A00FF !important;
}
.green.theme-box {
    background-color: #339933;border-color: #339933;
}
.green.theme-text {   
	color: #339933 !important;
}
.green.theme-fill {   
	fill: #339933 !important;
}
.emerald.theme-box {
    background-color: #008A00;border-color: #008A00;
}
.emerald.theme-text {	
	color: #008A00 !important;
}
.emerald.theme-fill {	
	fill: #008A00 !important;
}
.mauve.theme-box {
    background-color: #765F89;border-color: #765F89;
}

.mauve.theme-text {	
	color: #765F89 !important;
}
.mauve.theme-fill {	
	fill: #765F89 !important;
}
.olive.theme-box {
    background-color: #6D8764;border-color: #6D8764;
}
.olive.theme-fill {
	 color: #6D8764 !important;
}
.olive.theme-text {
	 color: #6D8764 !important;
}
.orange.theme-box {
    background-color: #FA6801;border-color: #FA6801;
}
.orange.theme-text {
	color: #FA6801 !important;
}
.orange.theme-fill {
	fill: #FA6801 !important;
}
.pink.theme-box {
    background-color: #E671B8;border-color: #E671B8;
}
.pink.theme-text {	
	color: #E671B8 !important;
}
.pink.theme-fill {	
	fill: #E671B8 !important;
}
.red.theme-box {
    background-color: #E51400;border-color: #E51400;
}
.red.theme-text {   
	color: #E51400 !important;
}
.red.theme-fill {   
	fill: #E51400 !important;
}
.sienna.theme-box {
    background-color: #7B3A3E;border-color: #7B3A3E;
}
.sienna.theme-text {	
	color: #7B3A3E !important;
}
.sienna.theme-fill {	
	fill: #7B3A3E !important;
}
.steel.theme-box {
    background-color: #657688;border-color: #657688;
}
.steel.theme-text {	
	color: #657688 !important;
}
.steel.theme-fill {	
	fill: #657688 !important;
}
.teal.theme-box {
    background-color: #00ABA9 ;border-color: #00ABA9;
}
.teal.theme-text {	
	color: #00ABA9 !important;
}
.teal.theme-fill {	
	fill: #00ABA9 !important;
}
.violet.theme-box {
    background-color: #A200FF;border-color: #A200FF;
}
.violet.theme-text {	
	color: #A200FF !important;
}
.violet.theme-fill {	
	fill: #A200FF !important;
}
.yellow.theme-box{
    background-color: #D8C101 ;border-color: #D8C101;
}
.yellow.theme-text {
	color: #D8C101 !important;
}
.yellow.theme-fill {
	fill: #D8C101 !important;
}






svg#svgSys text.lightTheme {
    fill: #FFFFFF !important;
    stroke: none !important;
}



.darkTheme 
svg#svgSys text{
    fill: #000000 !important;
    stroke: none !important;
}


.theme-options .colorBox  {
     display: inline-block;
    height: 30px;
    width: 30px;
	border-radius: 50%;
    margin: 0 0px;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.base-theme-options, .theme-options { padding:0 6px}




.card {
    padding: 10px;
    border-radius: 0px;
    min-height: 2px;
    position: relative;
    color: rgb(43, 43, 43);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.07);
        background-color: rgba(255, 255, 255, 0.59);
    border: 1px solid #c1bfb7;
}
.card .xs { min-height:100px}
.card .sm { min-height:200px}
.card .md { min-height:400px}

.darkTheme .card {
    color: #ffffff;    
	border: 1px solid #19212D;
	box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.29);
    background-color: rgba(20, 27, 46, 0.42);
}


.jumbotron {
    min-height: 300px;
    padding: 0;
    position: relative;
    margin: 0;
    background-color: transparent;
}
.jumbotron.sm {
    min-height: 100px;
    padding: 0;
    position: relative;
    margin: 0;
    background-color: transparent;
}
.menu-user {
    width: 58px;
}

.jumbotron-content {
    min-height: 300px;
    width: 100%;
}

.jumbotron.sm .jumbotron-content {
    min-height: 100px;
    width: 100%;
}
.jumbotron-title {
     min-height: 50px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    display: block;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 25px;
    text-align: center;
    padding: 20PX 0 20PX 0;
}
 .title-h2 {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3.5rem;
}
.jumbotron-title .title-h2 {
 margin-bottom:20px;}
 .title-h3 {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3rem;
} .title-h4 {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2rem;
}
    .jumbotron-title .usericon {
        width: 70px;
        margin-right: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 3px;
        position: absolute;
    }

   

    .jumbotron-title .usericon img {
        width: 100%;
        border-radius: 50%;
    }


	
	
	.dash-men-list {
    list-style: none;    margin: 0;
    padding: 0;
    border-right: 1px solid rgba(132, 132, 132, 0.41);
}

.dash-men-list li {
    display: block;
    text-align: right;
    padding: 5px 10px;
}

.check-menu-list { text-transform:uppercase}
.check-menu-list li   .checkbox, 
.check-menu-list li .radio{ float:right ; margin-left:10px;}

.btn.btn-core {
    border-radius: 20px;
    min-width: 100px;
}
.btn.btn-bordered {
    border-radius: 20px;
    min-width: 100px;
    border: 1px solid !important;
}