﻿.theme-box {   
    color: white !important;
}
.theme-text {       
	background-color: transparent !important;	
}
.theme-fill rect{ fill: inherit}
.amber.theme-box {
    background-color: #F1A30B ;
    border-color: #F1A30B;
}
.amber.theme-text { 
	color: #F1A30B !important;
}
.amber.theme-fill { 
	fill: #F1A30B !important;
}
.brown.theme-box {
    background-color: #A05000 ;
    color: white ;
    border-color: #A05000;
}
.brown.theme-text {  
	color: #A05000 !important;
}
.brown.theme-fill {  
	fill: #A05000 !important;
}
.cobalt.theme-box {
    background-color: #0050EF;   
    border-color: #0050EF;
}
.cobalt.theme-text {
    color: #0050EF !important;
}
.cobalt.theme-fill {
    fill: #0050EF !important;
}
.crimson.theme-box {
    background-color: #A20025;
    color: white ;
    border-color: #A20025;
}

.crimson.theme-text {
	color: #A20025 !important;
}
.crimson.theme-fill {
	fill: #A20025 !important;
}
.cyan.theme-box {
    background-color: #1BA0E1;   
    border-color: #1BA0E1;
}

.cyan.theme-text {	
	color: #1BA0E1 !important;
}
.cyan.theme-fill {	
	fill: #1BA0E1 !important;
}
.magenta.theme-box {
    background-color: #D80073;border-color: #D80073;
}
.magenta.theme-text {	
	color: #D80073 !important;
}
.magenta.theme-fill {	
	fill: #D80073 !important;
}
.lime.theme-box{
    background-color: #A2C139;border-color: #A2C139;
}
.lime.theme-text {   
	color: #A2C139 !important;
}
.lime.theme-fill {   
	fill: #A2C139 !important;
}
.indigo.theme-box {
    background-color: #6A00FF;border-color: #6A00FF;
}
.indigo.theme-text {
	color: #6A00FF !important;
}
.indigo.theme-fill {
	fill: #6A00FF !important;
}
.green.theme-box {
    background-color: #339933;border-color: #339933;
}
.green.theme-text {   
	color: #339933 !important;
}
.green.theme-fill {   
	fill: #339933 !important;
}
.emerald.theme-box {
    background-color: #008A00;border-color: #008A00;
}
.emerald.theme-text {	
	color: #008A00 !important;
}
.emerald.theme-fill {	
	fill: #008A00 !important;
}
.mauve.theme-box {
    background-color: #765F89;border-color: #765F89;
}

.mauve.theme-text {	
	color: #765F89 !important;
}
.mauve.theme-fill {	
	fill: #765F89 !important;
}
.olive.theme-box {
    background-color: #6D8764;border-color: #6D8764;
}
.olive.theme-fill {
	 color: #6D8764 !important;
}
.olive.theme-text {
	 color: #6D8764 !important;
}
.orange.theme-box {
    background-color: #FA6801;border-color: #FA6801;
}
.orange.theme-text {
	color: #FA6801 !important;
}
.orange.theme-fill {
	fill: #FA6801 !important;
}
.pink.theme-box {
    background-color: #E671B8;border-color: #E671B8;
}
.pink.theme-text {	
	color: #E671B8 !important;
}
.pink.theme-fill {	
	fill: #E671B8 !important;
}
.red.theme-box {
    background-color: #E51400;border-color: #E51400;
}
.red.theme-text {   
	color: #E51400 !important;
}
.red.theme-fill {   
	fill: #E51400 !important;
}
.sienna.theme-box {
    background-color: #7B3A3E;border-color: #7B3A3E;
}
.sienna.theme-text {	
	color: #7B3A3E !important;
}
.sienna.theme-fill {	
	fill: #7B3A3E !important;
}
.steel.theme-box {
    background-color: #657688;border-color: #657688;
}
.steel.theme-text {	
	color: #657688 !important;
}
.steel.theme-fill {	
	fill: #657688 !important;
}
.teal.theme-box {
    background-color: #00ABA9 ;border-color: #00ABA9;
}
.teal.theme-text {	
	color: #00ABA9 !important;
}
.teal.theme-fill {	
	fill: #00ABA9 !important;
}
.violet.theme-box {
    background-color: #A200FF;border-color: #A200FF;
}
.violet.theme-text {	
	color: #A200FF !important;
}
.violet.theme-fill {	
	fill: #A200FF !important;
}
.yellow.theme-box{
    background-color: #D8C101 ;border-color: #D8C101;
}
.yellow.theme-text {
	color: #D8C101 !important;
}
.yellow.theme-fill {
	fill: #D8C101 !important;
}
.light {
    background-color: #ffffff !important;
    color: #000000 !important;
    fill: #000000 !important;
}

.dark {
    background-color: #000000 !important;
    color: #ffffff !important;
    fill: #ffffff !important;
}

.lightTheme {
    /*background: repeating-linear-gradient(45deg,#fafafa,#fafafa 2px,#ffffff 2px,#ffffff 4px) !important;*/
    background-color: #F0F2F5 !important ;
    color: #000000 !important;
}

.lightITheme {
   /* background-color: #FFFFFF !important;
    color: #000000 !important;*/
	    background-color: #141b2e;
    color: #ffffff !important;
}

svg#svgSys text.lightTheme {
    fill: #FFFFFF !important;
    stroke: none !important;
}

.darkTheme {
    /*background: repeating-linear-gradient(45deg,#0f0f0f,#0f0f0f 2px,#000000 2px,#000000 4px) !important;*/
    background-color: #2D3644 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.darkITheme {
    background-color: #fcfcfc;
    color:#4a4a4a ;
    border-bottom: 1px solid #c1bba6 !important;
}
.navbar-fixed-top.darkITheme {
    box-shadow: -1px 0px 15px rgba(119, 118, 108, 0.46);
}
svg#svgSys text.darkTheme {
    fill: #000000 !important;
    stroke: none !important;
}


.theme-options hldr {
    float: left;
    margin: 0 6px 0px 6px;
    padding: 0px;
    height: 36px;
    display: block;
}

.modal-backdrop {
   
    background-color: #5d5d4c;
}
.dark .modal-backdrop {
    
    background-color: #565656;
}